<a href="https://colab.research.google.com/github/teamgaon/recommendation_algorithms_know/blob/main/20220117_hj_know_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install optuna

Collecting optuna
  Downloading optuna-2.10.0-py3-none-any.whl (308 kB)
     |████████████████████████████████| 308 kB 8.8 MB/s
Collecting colorlog
  Downloading colorlog-6.6.0-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (21.3)
Collecting cliff
  Downloading cliff-3.10.0-py3-none-any.whl (80 kB)
     |████████████████████████████████| 80 kB 10.4 MB/s
Collecting alembic
  Downloading alembic-1.7.5-py3-none-any.whl (209 kB)
     |████████████████████████████████| 209 kB 54.1 MB/s
Requirement already satisfied: scipy!=1.4.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (1.4.1)
Requirement already satisfied: sqlalchemy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (1.4.29)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from optuna) (1.19.5)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from optuna) (3.13)
Collecting cmaes>=0.8.2
  Downloading cmaes-0.8.2-py3-none-any.whl (15 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from optuna) (4.62.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->optuna) (3.0.6)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.1.0->optuna) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.1.0->optuna) (4.10.0)
Requirement already satisfied: importlib-resources in /usr/local/lib/python3.7/dist-packages (from alembic->optuna) (5.4.0)
Collecting Mako
  Downloading Mako-1.1.6-py2.py3-none-any.whl (75 kB)
     |████████████████████████████████| 75 kB 5.0 MB/s
Collecting cmd2>=1.0.0
  Downloading cmd2-2.3.3-py3-none-any.whl (149 kB)
     |████████████████████████████████| 149 kB 48.3 MB/s
Collecting stevedore>=2.0.1
  Downloading stevedore-3.5.0-py3-none-any.whl (49 kB)
     |████████████████████████████████| 49 kB 7.3 MB/s
Collecting autopage>=0.4.0
  Downloading autopage-0.4.0-py3-none-any.whl (20 kB)
Collecting pbr!=2.1.0,>=2.0.0
  Downloading pbr-5.8.0-py2.py3-none-any.whl (112 kB)
     |████████████████████████████████| 112 kB 60.8 MB/s
Requirement already satisfied: PrettyTable>=0.7.2 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna) (3.0.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (3.10.0.2)
Collecting pyperclip>=1.6
  Downloading pyperclip-1.8.2.tar.gz (20 kB)
Requirement already satisfied: attrs>=16.3.0 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (21.4.0)
Requirement already satisfied: wcwidth>=0.1.7 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (0.2.5)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=1.1.0->optuna) (3.7.0)
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.7/dist-packages (from Mako->alembic->optuna) (2.0.1)
Building wheels for collected packages: pyperclip
  Building wheel for pyperclip (setup.py) ... done
  Created wheel for pyperclip: filename=pyperclip-1.8.2-py3-none-any.whl size=11137 sha256=c70e0ed6c08400c1c8c03eb26aaa722fae3e53ef96a4f8661de1bc659e674070
  Stored in directory: /root/.cache/pip/wheels/9f/18/84/8f69f8b08169c7bae2dde6bd7daf0c19fca8c8e500ee620a28
Successfully built pyperclip
Installing collected packages: pyperclip, pbr, stevedore, Mako, cmd2, autopage, colorlog, cmaes, cliff, alembic, optuna
Successfully installed Mako-1.1.6 alembic-1.7.5 autopage-0.4.0 cliff-3.10.0 cmaes-0.8.2 cmd2-2.3.3 colorlog-6.6.0 optuna-2.10.0 pbr-5.8.0 pyperclip-1.8.2 stevedore-3.5.0

In [2]:
import warnings
import gc
import os
import random
import sys

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from datetime import datetime
from glob import glob
from tqdm import tqdm
from IPython.display import Image

In [3]:
# 추후에 경고 값들을 출력하지 않도록 'ignore'상태로 만들어 준다.
# 불필요한 경고창이 더 이상 출력 되지 않게 됩니다.
warnings.filterwarnings(action = 'ignore')

In [4]:
train_2017 = []
train_2018 = []
train_2019 = []
train_2020 = []

for i, path in enumerate(sorted(glob("/content/drive/MyDrive/KNOW_data/train/*.csv"))):
    print(path)
    if i == 0:
        train_2017 = pd.read_csv(path)
        pass
    elif i==1:
        train_2018 = pd.read_csv(path)
        pass
    elif i==2:
        train_2019 = pd.read_csv(path)
        pass
    else:
        train_2020 = pd.read_csv(path)
        pass
    
test_2017 = []
test_2018 = []
test_2019 = []
test_2020 = []

for i, path in enumerate(sorted(glob("/content/drive/MyDrive/KNOW_data/test/*.csv"))):
    print(path)
    
    if i == 0:
        test_2017 = pd.read_csv(path)
        pass
    elif i==1:
        test_2018 = pd.read_csv(path)
        pass
    elif i==2:
        test_2019 = pd.read_csv(path)
        pass
    else:
        test_2020 = pd.read_csv(path)
        pass

/content/drive/MyDrive/KNOW_data/train/KNOW_2017.csv
/content/drive/MyDrive/KNOW_data/train/KNOW_2018.csv
/content/drive/MyDrive/KNOW_data/train/KNOW_2019.csv
/content/drive/MyDrive/KNOW_data/train/KNOW_2020.csv
/content/drive/MyDrive/KNOW_data/test/KNOW_2017_test.csv
/content/drive/MyDrive/KNOW_data/test/KNOW_2018_test.csv
/content/drive/MyDrive/KNOW_data/test/KNOW_2019_test.csv
/content/drive/MyDrive/KNOW_data/test/KNOW_2020_test.csv

1.1 공백으로 구성된 결측치 값을 np.nan으로 변경

In [5]:
# 결측치 값 확인을 편하게 하기 위해서 모두 np.nan 값으로 변형해 준다.
# test_2019에 있는 모든 columns들을 불러온다.
for col in test_2020:
    
    # idx 값에는 별도의 결측치 값이 존재하지 않기 때문에 건너뛴다.
    if col == 'idx':
        continue
        
    train_2020.replace(' ', np.nan, inplace = True)
    test_2020.replace(' ', np.nan, inplace = True)

In [6]:
have_nan_columns = []
for index, value, tindex, tvalue in zip(train_2019.isnull().sum().index, train_2019.isnull().sum(), test_2019.isnull().sum().index, test_2019.isnull().sum()):
    print(f"{index} : {value} / {tindex} : {tvalue} / {value + tvalue}")
    if (value > 0) | (tvalue > 0):
        have_nan_columns.append(index)

idx : 0 / idx : 0 / 0
sq1 : 0 / sq1 : 0 / 0
sq2 : 0 / sq2 : 0 / 0
sq3 : 0 / sq3 : 0 / 0
sq4 : 0 / sq4 : 0 / 0
sq5 : 0 / sq5 : 0 / 0
sq6 : 0 / sq6 : 0 / 0
sq7 : 0 / sq7 : 0 / 0
sq8 : 0 / sq8 : 0 / 0
sq9 : 0 / sq9 : 0 / 0
sq10 : 0 / sq10 : 0 / 0
sq11 : 0 / sq11 : 0 / 0
sq12 : 0 / sq12 : 0 / 0
sq13 : 0 / sq13 : 0 / 0
sq14 : 0 / sq14 : 0 / 0
sq15 : 0 / sq15 : 0 / 0
sq16 : 0 / sq16 : 0 / 0
kq1_1 : 0 / kq1_1 : 0 / 0
kq1_2 : 0 / kq1_2 : 0 / 0
kq2_1 : 0 / kq2_1 : 0 / 0
kq2_2 : 0 / kq2_2 : 0 / 0
kq3_1 : 0 / kq3_1 : 0 / 0
kq3_2 : 0 / kq3_2 : 0 / 0
kq4_1 : 0 / kq4_1 : 0 / 0
kq4_2 : 0 / kq4_2 : 0 / 0
kq5_1 : 0 / kq5_1 : 0 / 0
kq5_2 : 0 / kq5_2 : 0 / 0
kq6_1 : 0 / kq6_1 : 0 / 0
kq6_2 : 0 / kq6_2 : 0 / 0
kq7_1 : 0 / kq7_1 : 0 / 0
kq7_2 : 0 / kq7_2 : 0 / 0
kq8_1 : 0 / kq8_1 : 0 / 0
kq8_2 : 0 / kq8_2 : 0 / 0
kq9_1 : 0 / kq9_1 : 0 / 0
kq9_2 : 0 / kq9_2 : 0 / 0
kq10_1 : 0 / kq10_1 : 0 / 0
kq10_2 : 0 / kq10_2 : 0 / 0
kq11_1 : 0 / kq11_1 : 0 / 0
kq11_2 : 0 / kq11_2 : 0 / 0
kq12_1 : 0 / kq12_1 : 0 / 0
kq12_2 : 0 / kq12_2 : 0 / 0
kq13_1 : 0 / kq13_1 : 0 / 0
kq13_2 : 0 / kq13_2 : 0 / 0
kq14_1 : 0 / kq14_1 : 0 / 0
kq14_2 : 0 / kq14_2 : 0 / 0
kq15_1 : 0 / kq15_1 : 0 / 0
kq15_2 : 0 / kq15_2 : 0 / 0
kq16_1 : 0 / kq16_1 : 0 / 0
kq16_2 : 0 / kq16_2 : 0 / 0
kq17_1 : 0 / kq17_1 : 0 / 0
kq17_2 : 0 / kq17_2 : 0 / 0
kq18_1 : 0 / kq18_1 : 0 / 0
kq18_2 : 0 / kq18_2 : 0 / 0
kq19_1 : 0 / kq19_1 : 0 / 0
kq19_2 : 0 / kq19_2 : 0 / 0
kq20_1 : 0 / kq20_1 : 0 / 0
kq20_2 : 0 / kq20_2 : 0 / 0
kq21_1 : 0 / kq21_1 : 0 / 0
kq21_2 : 0 / kq21_2 : 0 / 0
kq22_1 : 0 / kq22_1 : 0 / 0
kq22_2 : 0 / kq22_2 : 0 / 0
kq23_1 : 0 / kq23_1 : 0 / 0
kq23_2 : 0 / kq23_2 : 0 / 0
kq24_1 : 0 / kq24_1 : 0 / 0
kq24_2 : 0 / kq24_2 : 0 / 0
kq25_1 : 0 / kq25_1 : 0 / 0
kq25_2 : 0 / kq25_2 : 0 / 0
kq26_1 : 0 / kq26_1 : 0 / 0
kq26_2 : 0 / kq26_2 : 0 / 0
kq27_1 : 0 / kq27_1 : 0 / 0
kq27_2 : 0 / kq27_2 : 0 / 0
kq28_1 : 0 / kq28_1 : 0 / 0
kq28_2 : 0 / kq28_2 : 0 / 0
kq29_1 : 0 / kq29_1 : 0 / 0
kq29_2 : 0 / kq29_2 : 0 / 0
kq30_1 : 0 / kq30_1 : 0 / 0
kq30_2 : 0 / kq30_2 : 0 / 0
kq31_1 : 0 / kq31_1 : 0 / 0
kq31_2 : 0 / kq31_2 : 0 / 0
kq32_1 : 0 / kq32_1 : 0 / 0
kq32_2 : 0 / kq32_2 : 0 / 0
kq33_1 : 0 / kq33_1 : 0 / 0
kq33_2 : 0 / kq33_2 : 0 / 0
bq1 : 0 / bq1 : 0 / 0
bq2 : 0 / bq2 : 0 / 0
bq3 : 0 / bq3 : 0 / 0
bq4 : 0 / bq4 : 0 / 0
bq4_1a : 0 / bq4_1a : 0 / 0
bq4_1b : 0 / bq4_1b : 0 / 0
bq4_1c : 0 / bq4_1c : 0 / 0
bq5 : 0 / bq5 : 0 / 0
bq5_1 : 0 / bq5_1 : 0 / 0
bq5_2 : 0 / bq5_2 : 0 / 0
bq6 : 0 / bq6 : 0 / 0
bq7 : 0 / bq7 : 0 / 0
bq8_1 : 0 / bq8_1 : 0 / 0
bq8_2 : 0 / bq8_2 : 0 / 0
bq8_3 : 0 / bq8_3 : 0 / 0
bq9 : 0 / bq9 : 0 / 0
bq10 : 0 / bq10 : 0 / 0
bq11 : 0 / bq11 : 0 / 0
bq12_1 : 0 / bq12_1 : 0 / 0
bq12_2 : 0 / bq12_2 : 0 / 0
bq12_3 : 0 / bq12_3 : 0 / 0
bq12_4 : 0 / bq12_4 : 0 / 0
bq12_5 : 0 / bq12_5 : 0 / 0
bq13_1 : 1 / bq13_1 : 0 / 1
bq13_2 : 1 / bq13_2 : 0 / 1
bq13_3 : 1 / bq13_3 : 0 / 1
bq14_1 : 1 / bq14_1 : 0 / 1
bq14_2 : 1 / bq14_2 : 0 / 1
bq14_3 : 1 / bq14_3 : 0 / 1
bq14_4 : 1 / bq14_4 : 0 / 1
bq14_5 : 3 / bq14_5 : 0 / 3
bq15 : 3 / bq15 : 0 / 3
bq16_1 : 3 / bq16_1 : 0 / 3
bq16_2 : 3 / bq16_2 : 0 / 3
bq16_3 : 3 / bq16_3 : 0 / 3
bq16_4 : 3 / bq16_4 : 0 / 3
bq16_5 : 3 / bq16_5 : 0 / 3
bq17 : 3 / bq17 : 0 / 3
bq18_1 : 3 / bq18_1 : 0 / 3
bq18_2 : 3 / bq18_2 : 0 / 3
bq18_3 : 3 / bq18_3 : 0 / 3
bq18_4 : 3 / bq18_4 : 0 / 3
bq18_5 : 3 / bq18_5 : 0 / 3
bq18_6 : 3 / bq18_6 : 0 / 3
bq18_7 : 3 / bq18_7 : 0 / 3
bq18_8 : 3 / bq18_8 : 0 / 3
bq18_9 : 3 / bq18_9 : 0 / 3
bq18_10 : 3 / bq18_10 : 0 / 3
bq19 : 3 / bq19 : 0 / 3
bq20 : 3 / bq20 : 0 / 3
bq20_1 : 3 / bq20_1 : 0 / 3
bq21_1 : 3 / bq21_1 : 0 / 3
bq21_2 : 3 / bq21_2 : 0 / 3
bq21_3 : 3 / bq21_3 : 0 / 3
bq22 : 3 / bq22 : 0 / 3
bq23 : 3 / bq23 : 0 / 3
bq24 : 3 / bq24 : 0 / 3
bq25 : 3 / bq25 : 0 / 3
bq26 : 3 / bq26 : 0 / 3
bq27 : 3 / bq27 : 0 / 3
bq27_1 : 3 / bq27_1 : 0 / 3
bq28 : 3 / bq28 : 0 / 3
bq28_1 : 3 / bq28_1 : 1 / 4
bq28_2 : 3 / bq28_2 : 2 / 5
bq29 : 3 / bq29 : 2 / 5
bq30 : 3 / bq30 : 2 / 5
bq31_1 : 3 / bq31_1 : 2 / 5
bq31_2 : 3 / bq31_2 : 2 / 5
bq31_3 : 9 / bq31_3 : 4 / 13

saq 1_2 ~ 44_2까지의 결측치 값 처리 방법

In [7]:
for i in range(1, 45):
    if len(train_2020.loc[lambda x : (x['saq'+str(i)+'_2'].notnull()) & (x['saq'+str(i)+'_1'] == 1)]) != 0:
        print(i)

40

In [8]:
train_2020.loc[lambda x : (x['saq'+str(40)+'_2'].notnull()) & (x['saq'+str(40)+'_1'] == 1)]

        idx  saq1_1 saq1_2  saq2_1 saq2_2  ...  bq29 bq30_1  bq30_2 bq30_3  knowcode
2177  29304       3      7       3      6  ...    48   4500    2500    NaN     26301

[1 rows x 185 columns]

In [9]:
train_2020.loc[lambda x : (x['saq'+str(40)+'_2'].notnull()) & (x['saq'+str(40)+'_1'] == 1), 'saq40_2'] = np.nan

In [10]:
train_2020.loc[lambda x : (x['saq'+str(40)+'_2'].notnull()) & (x['saq'+str(40)+'_1'] == 1)]

Empty DataFrame
Columns: [idx, saq1_1, saq1_2, saq2_1, saq2_2, saq3_1, saq3_2, saq4_1, saq4_2, saq5_1, saq5_2, saq6_1, saq6_2, saq7_1, saq7_2, saq8_1, saq8_2, saq9_1, saq9_2, saq10_1, saq10_2, saq11_1, saq11_2, saq12_1, saq12_2, saq13_1, saq13_2, saq14_1, saq14_2, saq15_1, saq15_2, saq16_1, saq16_2, saq17_1, saq17_2, saq18_1, saq18_2, saq19_1, saq19_2, saq20_1, saq20_2, saq21_1, saq21_2, saq22_1, saq22_2, saq23_1, saq23_2, saq24_1, saq24_2, saq25_1, saq25_2, saq26_1, saq26_2, saq27_1, saq27_2, saq28_1, saq28_2, saq29_1, saq29_2, saq30_1, saq30_2, saq31_1, saq31_2, saq32_1, saq32_2, saq33_1, saq33_2, saq34_1, saq34_2, saq35_1, saq35_2, saq36_1, saq36_2, saq37_1, saq37_2, saq38_1, saq38_2, saq39_1, saq39_2, saq40_1, saq40_2, saq41_1, saq41_2, saq42_1, saq42_2, saq43_1, saq43_2, saq44_1, saq44_2, vq1, vq2, vq3, vq4, vq5, vq6, vq7, vq8, vq9, vq10, vq11, ...]
Index: []

[0 rows x 185 columns]

In [11]:
for i in range(1, 45):
    if len(train_2020.loc[lambda x : (x['saq'+str(i)+'_2'].isnull()) & (x['saq'+str(i)+'_1'] != 1)]) != 0:
        print(i)

In [12]:
for i in range(1, 45):
    train_2020.loc[lambda x : (x['saq'+str(i)+'_2'].isnull()) & (x['saq'+str(i)+'_1'] == 1), 'saq'+str(i)+'_2'] = 0

In [13]:
for i in range(1, 45):
    if len(test_2020.loc[lambda x : (x['saq'+str(i)+'_2'].notnull()) & (x['saq'+str(i)+'_1'] == 1)]) != 0:
        print(i)

In [14]:
for i in range(1, 45):
    if len(test_2020.loc[lambda x : (x['saq'+str(i)+'_2'].isnull()) & (x['saq'+str(i)+'_1'] != 1)]) != 0:
        print(i)

40

In [15]:
test_2020.loc[lambda x : (x['saq'+str(40)+'_2'].isnull()) & (x['saq'+str(40)+'_1'] != 1)]

        idx  saq1_1 saq1_2  saq2_1 saq2_2  ...  bq28 bq29  bq30_1 bq30_2  bq30_3
7136  34263       4      3       3      4  ...     1   45    4500   3500     NaN

[1 rows x 184 columns]

In [16]:
test_2020.loc[lambda x : (x['saq'+str(40)+'_2'].isnull()) & (x['saq'+str(40)+'_1'] != 1), 'saq40_2'] = 4

In [17]:
test_2020.loc[lambda x : (x['saq'+str(40)+'_2'].isnull()) & (x['saq'+str(40)+'_1'] != 1)]

Empty DataFrame
Columns: [idx, saq1_1, saq1_2, saq2_1, saq2_2, saq3_1, saq3_2, saq4_1, saq4_2, saq5_1, saq5_2, saq6_1, saq6_2, saq7_1, saq7_2, saq8_1, saq8_2, saq9_1, saq9_2, saq10_1, saq10_2, saq11_1, saq11_2, saq12_1, saq12_2, saq13_1, saq13_2, saq14_1, saq14_2, saq15_1, saq15_2, saq16_1, saq16_2, saq17_1, saq17_2, saq18_1, saq18_2, saq19_1, saq19_2, saq20_1, saq20_2, saq21_1, saq21_2, saq22_1, saq22_2, saq23_1, saq23_2, saq24_1, saq24_2, saq25_1, saq25_2, saq26_1, saq26_2, saq27_1, saq27_2, saq28_1, saq28_2, saq29_1, saq29_2, saq30_1, saq30_2, saq31_1, saq31_2, saq32_1, saq32_2, saq33_1, saq33_2, saq34_1, saq34_2, saq35_1, saq35_2, saq36_1, saq36_2, saq37_1, saq37_2, saq38_1, saq38_2, saq39_1, saq39_2, saq40_1, saq40_2, saq41_1, saq41_2, saq42_1, saq42_2, saq43_1, saq43_2, saq44_1, saq44_2, vq1, vq2, vq3, vq4, vq5, vq6, vq7, vq8, vq9, vq10, vq11, ...]
Index: []

[0 rows x 184 columns]

In [18]:
for i in range(1, 45):
    test_2020.loc[lambda x : (x['saq'+str(i)+'_2'].isnull()) & (x['saq'+str(i)+'_1'] == 1), 'saq'+str(i)+'_2'] = 0

1.11 bq4_1a~bq4_1c에 해당하는 결측치 처리 방법

In [19]:
train_2020.loc[(train_2020['bq4'] == 2) & (train_2020['bq4_1a'].isnull()), 'bq4_1a'] = '없음'
test_2020.loc[(test_2020['bq4'] == 2) & (test_2020['bq4_1a'].isnull()), 'bq4_1a'] = '없음'
train_2020.loc[(train_2020['bq4'] == 2) & (train_2020['bq4_1b'].isnull()), 'bq4_1b'] = '없음'
train_2020.loc[(train_2020['bq4'] == 2) & (train_2020['bq4_1c'].isnull()), 'bq4_1c'] = '없음'
test_2020.loc[(test_2020['bq4'] == 2) & (test_2020['bq4_1b'].isnull()), 'bq4_1b'] = '없음'
test_2020.loc[(test_2020['bq4'] == 2) & (test_2020['bq4_1c'].isnull()), 'bq4_1c'] = '없음'

In [20]:
train_2020.loc[lambda x: (x.bq4 ==1) & (x.bq4_1a.isnull())]

Empty DataFrame
Columns: [idx, saq1_1, saq1_2, saq2_1, saq2_2, saq3_1, saq3_2, saq4_1, saq4_2, saq5_1, saq5_2, saq6_1, saq6_2, saq7_1, saq7_2, saq8_1, saq8_2, saq9_1, saq9_2, saq10_1, saq10_2, saq11_1, saq11_2, saq12_1, saq12_2, saq13_1, saq13_2, saq14_1, saq14_2, saq15_1, saq15_2, saq16_1, saq16_2, saq17_1, saq17_2, saq18_1, saq18_2, saq19_1, saq19_2, saq20_1, saq20_2, saq21_1, saq21_2, saq22_1, saq22_2, saq23_1, saq23_2, saq24_1, saq24_2, saq25_1, saq25_2, saq26_1, saq26_2, saq27_1, saq27_2, saq28_1, saq28_2, saq29_1, saq29_2, saq30_1, saq30_2, saq31_1, saq31_2, saq32_1, saq32_2, saq33_1, saq33_2, saq34_1, saq34_2, saq35_1, saq35_2, saq36_1, saq36_2, saq37_1, saq37_2, saq38_1, saq38_2, saq39_1, saq39_2, saq40_1, saq40_2, saq41_1, saq41_2, saq42_1, saq42_2, saq43_1, saq43_2, saq44_1, saq44_2, vq1, vq2, vq3, vq4, vq5, vq6, vq7, vq8, vq9, vq10, vq11, ...]
Index: []

[0 rows x 185 columns]

In [21]:
train_2020.loc[(train_2020['bq4_1b'].isnull()), 'bq4_1b'] = '없음'
train_2020.loc[(train_2020['bq4_1c'].isnull()), 'bq4_1c'] = '없음'
test_2020.loc[(test_2020['bq4_1b'].isnull()), 'bq4_1b'] = '없음'
test_2020.loc[(test_2020['bq4_1c'].isnull()), 'bq4_1c'] = '없음'

In [22]:
# '없다'라는 값을 '없음'으로 통일해 준다.
for col in test_2020:
    train_2020[col].replace('없다','없음', inplace = True)
    test_2020[col].replace('없다','없음', inplace = True)

1.12 bq5_1~bq5_2 해당하는 결측치는 2017, 2019년과 같이 처리한다

In [23]:
print("학습 데이터 결측치 : ", train_2020[(train_2020['bq5'] == 2) & (train_2020['bq5_1'].isnull())].shape)
print("테스트 데이터 결측치 : ", test_2020[(test_2020['bq5'] == 2) & (test_2020['bq5_1'].isnull())].shape)

학습 데이터 결측치 :  (5816, 185)
테스트 데이터 결측치 :  (5822, 184)

In [24]:
print("학습 데이터 결측치 : ", train_2020[(train_2020['bq5'] == 2) & (train_2020['bq5_2'].isnull())].shape)
print("테스트 데이터 결측치 : ", test_2020[(test_2020['bq5'] == 2) & (test_2020['bq5_2'].isnull())].shape)

학습 데이터 결측치 :  (5816, 185)
테스트 데이터 결측치 :  (5822, 184)

In [25]:
# 5번 문항에서 2번을 선택한 사람들에 대해서 5-1에 대한 값을 0으로 처리함
train_2020.loc[(train_2020['bq5'] == 2) & (train_2020['bq5_1'].isnull()),'bq5_1'] = 0
test_2020.loc[(test_2020['bq5'] == 2) & (test_2020['bq5_1'].isnull()),'bq5_1'] = 0

In [26]:
# 5번 문항에서 2번을 선택한 사람들에 대해서 5-2에 대한 값을 '없음'으로 처리함
train_2020.loc[(train_2020['bq5'] == 2) & (train_2020['bq5_2'].isnull()),'bq5_2'] = '없음'
test_2020.loc[(test_2020['bq5'] == 2) & (test_2020['bq5_2'].isnull()),'bq5_2'] = '없음'

In [27]:
# 모든 결측치를 처리하였다.
print(train_2020.bq5_1.isnull().sum())
print(test_2020.bq5_1.isnull().sum())
print(train_2020.bq5_2.isnull().sum())
print(test_2020.bq5_2.isnull().sum())

0
0
0
0

bq18_10 제거 : 서술형이라서 제거합니다

In [28]:
train_2020 = train_2020.drop(columns = ['bq18_10'])
test_2020 = test_2020.drop(columns = ['bq18_10'])

bq26

In [29]:
print(len(train_2020.loc[lambda x : (x.bq26 != 1) & (x.bq26_1.isnull())]))
print(len(test_2020.loc[lambda x : (x.bq26 != 1) & (x.bq26_1.isnull())]))

0
0

In [30]:
train_2020.loc[lambda x : x.bq26_1.isnull(), 'bq26_1'] = '없음'
test_2020.loc[lambda x : x.bq26_1.isnull(), 'bq26_1'] = '없음'

bq 28

In [31]:
train_2020.loc[lambda x: x.bq28.isnull()][['bq27_1', 'bq27_2']]

      bq27_1  bq27_2
1838       1       4
3420       2       5

In [32]:
test_2020.loc[lambda x: x.bq28.isnull()][['bq27_1', 'bq27_2']]

      bq27_1  bq27_2
1062       2       5
1789       1       4
4714       1       4
6401       2       5
7460       2       6
7939       2       6

In [33]:
train_2020.loc[lambda x : (x.bq28.isnull()) & (x.bq27_1 == 1), 'bq28'] = 2
test_2020.loc[lambda x : (x.bq28.isnull()) & (x.bq27_1 == 1), 'bq28'] = 2
train_2020.loc[lambda x : (x.bq28.isnull()) & (x.bq27_1 == 2), 'bq28'] = 1
test_2020.loc[lambda x : (x.bq28.isnull()) & (x.bq27_1 == 2), 'bq28'] = 1

bq 30_1~3

In [34]:
total_2020 = pd.concat([train_2020, test_2020], axis=0)
total_2020.head()

     idx  saq1_1 saq1_2  saq2_1 saq2_2  ...  bq29 bq30_1  bq30_2 bq30_3  knowcode
0  27127       4      4       4      4  ...    40   4000    2600    NaN  304003.0
1  27128       5      6       5      6  ...    40   4000    3000    NaN  221401.0
2  27129       3      4       3      4  ...    48   4300    3000    NaN  815001.0
3  27130       4      5       2      3  ...    40   3500    3300    NaN  304003.0
4  27131       5      6       4      5  ...    40   5700    2700    NaN  140201.0

[5 rows x 184 columns]

In [35]:
bq1_list = total_2020.bq1.unique()
bq1_list

array([16, 15,  3,  6, 11, 19, 18, 17, 14,  7,  1,  4, 13, 10,  8,  9, 20,
        5, 12,  2, 21])

In [36]:
for bq1 in bq1_list:
    mean_bq30_1 = round(total_2020.loc[lambda x: (x.bq1 == bq1) & (x.bq30_1.notnull())].bq30_1.apply(lambda x: int(x)).mean())
    train_2020.loc[lambda x : (x.bq1 == bq1) & (x.bq30_1.isnull()), 'bq30_1'] = mean_bq30_1
    test_2020.loc[lambda x : (x.bq1 == bq1) & (x.bq30_1.isnull()), 'bq30_1'] = mean_bq30_1
    
    mean_bq30_2 = round(total_2020.loc[lambda x: (x.bq1 == bq1) & (x.bq30_2.notnull())].bq30_2.apply(lambda x: int(x)).mean())
    train_2020.loc[lambda x : (x.bq1 == bq1) & (x.bq30_2.isnull()), 'bq30_2'] = mean_bq30_2
    test_2020.loc[lambda x : (x.bq1 == bq1) & (x.bq30_2.isnull()), 'bq30_2'] = mean_bq30_2
    
    try:
        mean_bq30_3 = round(total_2020.loc[lambda x: (x.bq1 == bq1) & (x.bq30_3.notnull())].bq30_3.apply(lambda x: int(x)).mean())
    except:
        mean_bq30_3 = mean_bq30_2
        
    train_2020.loc[lambda x : (x.bq1 == bq1) & (x.bq30_3.isnull()), 'bq30_3'] = mean_bq30_3
    test_2020.loc[lambda x : (x.bq1 == bq1) & (x.bq30_3.isnull()), 'bq30_3'] = mean_bq30_3

In [37]:
train_2020.to_csv("220114_know2020_train.csv")
test_2020.to_csv("220114_know2020_test.csv")