<a href="https://colab.research.google.com/github/teamgaon/recommendation_algorithms_know/blob/main/20220110_hj_know.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Train Data 불러오기


---

리스트 인덱스별로  
train[0] : 2017 data  
train[1] : 2018 data  
train[2] : 2019 data  
train[3] : 2020 data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
from glob import glob
from tqdm import tqdm
import warnings
from sklearn.preprocessing import LabelEncoder

warnings.filterwarnings(action='ignore') 
know_train = [pd.read_csv(path) for path in sorted(glob('/content/drive/MyDrive/KNOW/train/*.csv'))]

## 전체 데이터 전처리

In [ ]:
know2017 = know_train[0]
know2018 = know_train[1]
know2019 = know_train[2]
know2020 = know_train[3]

In [ ]:
#빈칸 제거
know2017 = know2017.replace(r'^\s*$','0',regex=True)
know2018 = know2018.replace(r'^\s*$','0',regex=True)
know2019 = know2019.replace(r'^\s*$','0',regex=True)
know2020 = know2020.replace(r'^\s*$','0',regex=True)

In [ ]:
know2018

        idx  cq1  cq2  cq3  cq4  ...  bq40  bq41_1  bq41_2  bq41_3  knowcode
0      9486    5    3    4    2  ...    42    3800    3400       0    306301
1      9487    4    3    4    4  ...    40    2300    1800       0    133204
2      9488    4    1    5    3  ...  30.0       0       0    3000    702502
3      9489    4    3    4    4  ...    40    3350    2750       0    121201
4      9490    3    2    3    1  ...    40    2500    2300       0    306301
...     ...  ...  ...  ...  ...  ...   ...     ...     ...     ...       ...
9067  18564    5    5    5    2  ...    60       0       0    2000    303002
9068  18565    5    5    5    3  ...  52.0       0       0    5000    615203
9069  18566    4    4    4    3  ...    38       0       0    9000    301106
9070  18567    5    2    3    2  ...    56       0       0    6500    301112
9071  18568    5    4    5    4  ...    40    4200    2800       0    133101

[9072 rows x 141 columns]

In [ ]:
# 데이터 전처리

def columns_data_processing1(Series):
  return Series.str.replace(r'[^\w]',"  ")

def columns_data_processing2(Series):
  return Series.str.replace('  ',",")

def columns_data_processing3(Series):
  return Series.str.replace(',,',",")

def columns_data_processing4(Series):
  return Series.str.replace('없다',"0")

def columns_data_processing5(Series):
  return Series.str.replace('없음',"0")

def columns_data_processing6(Series):
  return Series.str.lower()

def columns_data_processing7(Series):
  return Series.str.replace('등',"")

def columns_data_processing8(Series):
  return Series.str.replace('및'," ")

def columns_data_processing9(Series):
  return Series.str.replace('모름',"0")

In [ ]:
know2017 = know2017.astype(str).apply(columns_data_processing1,axis=0)
know2017 = know2017.apply(columns_data_processing2,axis=0)
know2017 = know2017.apply(columns_data_processing3,axis=0)
know2017 = know2017.apply(columns_data_processing4,axis=0)
know2017 = know2017.apply(columns_data_processing5,axis=0)
know2017 = know2017.apply(columns_data_processing6,axis=0)
know2017 = know2017.apply(columns_data_processing7,axis=0)
know2017 = know2017.apply(columns_data_processing8,axis=0)
know2017 = know2017.apply(columns_data_processing9,axis=0)

In [ ]:
know2018 = know2018.astype(str).apply(columns_data_processing1,axis=0)
know2018 = know2018.apply(columns_data_processing2,axis=0)
know2018 = know2018.apply(columns_data_processing3,axis=0)
know2018 = know2018.apply(columns_data_processing4,axis=0)
know2018 = know2018.apply(columns_data_processing5,axis=0)
know2018 = know2018.apply(columns_data_processing6,axis=0)
know2018 = know2018.apply(columns_data_processing7,axis=0)
know2018 = know2018.apply(columns_data_processing8,axis=0)
know2018 = know2018.apply(columns_data_processing9,axis=0)

In [ ]:
know2019 = know2019.astype(str).apply(columns_data_processing1,axis=0)
know2019 = know2019.apply(columns_data_processing2,axis=0)
know2019 = know2019.apply(columns_data_processing3,axis=0)
know2019 = know2019.apply(columns_data_processing4,axis=0)
know2019 = know2019.apply(columns_data_processing5,axis=0)
know2019 = know2019.apply(columns_data_processing6,axis=0)
know2019 = know2019.apply(columns_data_processing7,axis=0)
know2019 = know2019.apply(columns_data_processing8,axis=0)
know2019 = know2019.apply(columns_data_processing9,axis=0)

In [ ]:
know2020 = know2020.astype(str).apply(columns_data_processing1,axis=0)
know2020 = know2020.apply(columns_data_processing2,axis=0)
know2020 = know2020.apply(columns_data_processing3,axis=0)
know2020 = know2020.apply(columns_data_processing4,axis=0)
know2020 = know2020.apply(columns_data_processing5,axis=0)
know2020 = know2020.apply(columns_data_processing6,axis=0)
know2020 = know2020.apply(columns_data_processing7,axis=0)
know2020 = know2020.apply(columns_data_processing8,axis=0)
know2020 = know2020.apply(columns_data_processing9,axis=0)

### 전공 전처리

##### 2017년도

In [ ]:
know2017 = know2017.apply(lambda x : x.str.strip('학과'), axis = 1)
know2017 = know2017.apply(lambda x : x.str.strip('과'), axis = 1)
know2017 = know2017.apply(lambda x : x.str.strip('학'), axis = 1)
know2017 = know2017.apply(lambda x : x.str.strip('전공'), axis = 1)
know2017 = know2017.apply(lambda x : x.str.strip('대'), axis = 1)
know2017 = know2017.apply(lambda x : x.str.strip('부'), axis = 1)
know2017 = know2017.apply(lambda x : x.str.strip('계열'), axis = 1)

##### 2018년도

In [ ]:
# bq37행에서 전공 걸러내서 bq37_1_2018에 담기
bq37_1_2018 = know2018[(know2018['bq37'] !='1')
&(know2018['bq37'] !='2')
&(know2018['bq37'] !='3')
&(know2018['bq37'] !='4')
&(know2018['bq37'] !='5')
&(know2018['bq37'] !='6')]

# 잘못된 입력 값 인덱스 찾기
wrong_index = know2018[(know2018['bq37'] !='1')
&(know2018['bq37'] !='2')
&(know2018['bq37'] !='3')
&(know2018['bq37'] !='4')
&(know2018['bq37'] !='5')
&(know2018['bq37'] !='6')].index

# 원래 데이터에서 잘못된 row 제거
know2018 =  know2018.drop(wrong_index)

In [ ]:
# column 이름을 바꿔서 원위치 시키기
bq37_1_2018.rename(columns={'bq37_1':'bq37-1'},inplace=True)
bq37_1_2018.rename(columns={'bq37':'bq37_1'},inplace=True)
bq37_1_2018.rename(columns={'bq37-1':'bq37'},inplace=True)

In [ ]:
# 데이터 합치기
know2018 = pd.concat([know2018,bq37_1_2018])

# 이상값 제거
know2018['bq37_1'].replace('2','이')

0        치기공과
1          이과
2         기계과
3       물리,과학
4        치기공학
        ...
8760      기계학
8783     전기공학
8987       금속
8992     기계공학
9016     전기공학
Name: bq37_1, Length: 9072, dtype: object

In [ ]:
# 데이터 날리기
drop_index = know2018[(know2018['bq37'] == '색채심리상담사')].index
know2018.drop(drop_index)

        idx cq1 cq2 cq3 cq4 cq5  ... bq39    bq40 bq41_1 bq41_2 bq41_3 knowcode
0      9486   5   3   4   2   2  ...    1      42   3800   3400      0   306301
1      9487   4   3   4   4   4  ...    1      40   2300   1800      0   133204
2      9488   4   1   5   3   3  ...    0    30,0      0      0   3000   702502
3      9489   4   3   4   4   4  ...    1      40   3350   2750      0   121201
4      9490   3   2   3   1   1  ...    1      40   2500   2300      0   306301
...     ...  ..  ..  ..  ..  ..  ...  ...     ...    ...    ...    ...      ...
8760  18257   5   5   5   3   5  ...   50  3500,0   3000      0    nan   821101
8783  18280   1   5   5   5   5  ...   50  6000,0   2500      0    nan   831101
8987  18484   1   2   1   2   2  ...   50  5600,0   2500      0    nan   821101
8992  18489   2   5   5   5   5  ...   40  6000,0   3000      0    nan   831101
9016  18513   4   5   4   4   4  ...   40  3200,0   3000      0    nan   831101

[9071 rows x 141 columns]

In [ ]:
know2018 = know2018.apply(lambda x : x.str.strip('학과'), axis = 1)
know2018 = know2018.apply(lambda x : x.str.strip('과'), axis = 1)
know2018 = know2018.apply(lambda x : x.str.strip('학'), axis = 1)
know2018 = know2018.apply(lambda x : x.str.strip('전공'), axis = 1)
know2018 = know2018.apply(lambda x : x.str.strip('대'), axis = 1)
know2018 = know2018.apply(lambda x : x.str.strip('부'), axis = 1)
know2018 = know2018.apply(lambda x : x.str.strip('계열'), axis = 1)

##### 2019년도

In [ ]:
# num to str
know2019['bq27'] = know2019['bq27'].map(str)

In [ ]:
# bq37행에서 전공 걸러내서 bq37_1_2018에 담기
bq27_1_2019 = know2019[(know2019['bq27'] =='컴퓨터공학')
|(know2019['bq27'] == '지능로봇학')
|(know2019['bq27'] == '모바일인터넷')
|(know2019['bq27'] == '영상영화디자인과')
|(know2019['bq27'] == '방사선과')
|(know2019['bq27'] == '신문방송')
&(know2019['bq27'] !='1')
&(know2019['bq27'] !='2')
&(know2019['bq27'] !='3')
&(know2019['bq27'] !='4')
&(know2019['bq27'] !='5')
&(know2019['bq27'] !='6')]

# 잘못된 입력 값 인덱스 찾기
wrong_index = know2019[(know2019['bq27'] =='컴퓨터공학')
|(know2019['bq27'] == '지능로봇학')
|(know2019['bq27'] == '모바일인터넷')
|(know2019['bq27'] == '영상영화디자인과')
|(know2019['bq27'] == '방사선과')
|(know2019['bq27'] == '신문방송')
&(know2019['bq27'] !='1')
&(know2019['bq27'] !='2')
&(know2019['bq27'] !='3')
&(know2019['bq27'] !='4')
&(know2019['bq27'] !='5')
&(know2019['bq27'] !='6')].index

# 원래 데이터에서 잘못된 row 제거
know2019 = know2019.drop(wrong_index)

In [ ]:
# column 이름을 바꿔서 원위치 시키기

bq27_1_2019.rename(columns={'bq27_1':'bq27-1'},inplace=True)
bq27_1_2019.rename(columns={'bq27':'bq27_1'},inplace=True)
bq27_1_2019.rename(columns={'bq27-1':'bq27'},inplace=True)

In [ ]:
# 데이터 합치기
know2019 = pd.concat([know2019,bq27_1_2019])

# 이상값 제거
know2019['bq27_1'].replace('2','이')

0          기계공학과
1            경영학
2              0
3            행정학
4              0
          ...
614       모바일인터넷
3309    영상영화디자인과
3361        방사선과
7251       컴퓨터공학
7758        신문방송
Name: bq27_1, Length: 8555, dtype: object

In [ ]:
know2019 = know2019.apply(lambda x : x.str.strip('학과'), axis = 1)
know2019 = know2019.apply(lambda x : x.str.strip('과'), axis = 1)
know2019 = know2019.apply(lambda x : x.str.strip('학'), axis = 1)
know2019 = know2019.apply(lambda x : x.str.strip('전공'), axis = 1)
know2019 = know2019.apply(lambda x : x.str.strip('대'), axis = 1)
know2019 = know2019.apply(lambda x : x.str.strip('부'), axis = 1)
know2019 = know2019.apply(lambda x : x.str.strip('계열'), axis = 1)

##### 2020년도

In [ ]:
know2020 = know2020.apply(lambda x : x.str.strip('학과'), axis = 1)
know2020 = know2020.apply(lambda x : x.str.strip('과'), axis = 1)
know2020 = know2020.apply(lambda x : x.str.strip('학'), axis = 1)
know2020 = know2020.apply(lambda x : x.str.strip('전공'), axis = 1)
know2020 = know2020.apply(lambda x : x.str.strip('대'), axis = 1)
know2020 = know2020.apply(lambda x : x.str.strip('부'), axis = 1)
know2020 = know2020.apply(lambda x : x.str.strip('계열'), axis = 1)

### 전공 라벨 인코딩

In [ ]:
major2017 = know2017['bq38_1']
major2018 = know2018['bq37_1']
major2019 = know2019['bq27_1']
major2020 = know2020['bq26_1']

major = pd.concat([major2017,major2018,major2019,major2020],ignore_index=True)

In [ ]:
major = major.values.tolist()

# 중복 제거
major = set(major)
major = list(major)

major = pd.DataFrame(major)

# null 값 제거
major = major[major[0].notnull()]

In [ ]:
major = major.values.tolist()

In [ ]:
majors = []
for i in range(0,len(major)):
  major_1 = major[i][0].split(',') 
  majors.append(major_1)

# list를 합친다.
majors = sum(majors,[])

In [ ]:
# dict에 전공 값 넣기
my_dict = {}
for i in range(len(majors)):
  my_dict[majors[i]] = i


def text_to_list(text:str):
  return list(text.split(','))

know2017['bq38_1'] = know2017['bq38_1'].map(text_to_list)
know2018['bq37_1'] = know2018['bq37_1'].map(text_to_list)
know2019['bq27_1'] = know2019['bq27_1'].map(text_to_list)
know2020['bq26_1'] = know2020['bq27_1'].map(text_to_list)

In [ ]:
def major_to_label(majors:list):
  result = []
  for major in majors:
    if major in my_dict:
      result.append(my_dict[major])
    else :
      result.append(0)
  return result

know2017['label_major'] = know2017['bq38_1'].map(major_to_label)
know2018['label_major'] = know2018['bq37_1'].map(major_to_label)
know2019['label_major'] = know2019['bq27_1'].map(major_to_label)
know2020['label_major'] = know2020['bq27_1'].map(major_to_label)

### 도구 라벨 인코딩

In [ ]:
tool2017 = know2017['bq31']
tool2018 = know2018['bq30']

tool = pd.concat([tool2017,tool2018],ignore_index=True)

In [ ]:
tool = pd.DataFrame(tool)
tool = tool.values.tolist()

In [ ]:
# 도구들을 쉼표 단위로 나눠서 tool list에 담는다.
tools = []
for i in range(0,len(tool)):
  tool_1 = tool[i][0].split(',')
  tools.append(tool_1)

# list를 합친다.
tools = sum(tools,[])

In [ ]:
# dict에 도구 값 넣기
my_dict = {}
for i in range(len(tools)):
  my_dict[tools[i]] = i


def text_to_list(text:str):
  return list(text.split(','))

know2017['bq31'] = know2017['bq31'].map(text_to_list)
know2018['bq30'] = know2018['bq30'].map(text_to_list)

In [ ]:
def tool_to_label(tools:list):
  result = []
  for tool in tools:
    if tool in my_dict:
      result.append(my_dict[tool])
    else :
      result.append(0)
  return result

know2017['label_tool'] = know2017['bq31'].map(tool_to_label)
know2018['label_tool'] = know2018['bq30'].map(tool_to_label)

### 요구 자격증 전처리

In [ ]:
know2017['bq4_1a'] = know2017['bq4_1a'].replace(',','')
know2017['bq4_1b'] = know2017['bq4_1b'].replace(',','')
know2017['bq4_1c'] = know2017['bq4_1c'].replace(',','')

know2018['bq4_1a'] = know2018['bq4_1a'].replace(',','')
know2018['bq4_1b'] = know2018['bq4_1b'].replace(',','')
know2018['bq4_1c'] = know2018['bq4_1c'].replace(',','')

know2019['bq4_1a'] = know2019['bq4_1a'].replace(',','')
know2019['bq4_1b'] = know2019['bq4_1b'].replace(',','')
know2019['bq4_1c'] = know2019['bq4_1c'].replace(',','')

know2020['bq4_1a'] = know2020['bq4_1a'].replace(',','')
know2020['bq4_1b'] = know2020['bq4_1b'].replace(',','')
know2020['bq4_1c'] = know2020['bq4_1c'].replace(',','')

### 요구 자격증 라벨링

In [ ]:
Certificate = pd.concat([know2017['bq4_1a'],know2017['bq4_1b'],know2017['bq4_1c'],
                         know2018['bq4_1a'],know2018['bq4_1b'],know2018['bq4_1c'],
                         know2019['bq4_1a'],know2019['bq4_1b'],know2019['bq4_1c'],
                         know2020['bq4_1a'],know2020['bq4_1b'],know2020['bq4_1c']])

In [ ]:
# 중복 제거
Certificate = set(Certificate)
Certificate = list(Certificate)

Certificate = pd.DataFrame(Certificate)
Certificate = Certificate.values.tolist()

In [ ]:
Certificates = []
for i in range(0,len(Certificate)):
  Certificate_1 = Certificate[i][0].split(',') 
  Certificates.append(Certificate_1)

# list를 합친다.
Certificates = sum(Certificates,[])

In [ ]:
# dict에 자격증 값 넣기
my_dict = {}
for i in range(len(Certificates)):
  my_dict[Certificates[i]] = i


def text_to_list(text:str):
  return list(text.split(','))

know2017['bq4_1a'] = know2017['bq4_1a'].map(text_to_list)
know2017['bq4_1b'] = know2017['bq4_1b'].map(text_to_list)
know2017['bq4_1c'] = know2017['bq4_1c'].map(text_to_list)

know2018['bq4_1a'] = know2018['bq4_1a'].map(text_to_list)
know2018['bq4_1b'] = know2018['bq4_1b'].map(text_to_list)
know2018['bq4_1c'] = know2018['bq4_1c'].map(text_to_list)

know2019['bq4_1a'] = know2019['bq4_1a'].map(text_to_list)
know2019['bq4_1b'] = know2019['bq4_1b'].map(text_to_list)
know2019['bq4_1c'] = know2019['bq4_1c'].map(text_to_list)

know2020['bq4_1a'] = know2020['bq4_1a'].map(text_to_list)
know2020['bq4_1b'] = know2020['bq4_1b'].map(text_to_list)
know2020['bq4_1c'] = know2020['bq4_1c'].map(text_to_list)

In [ ]:
def Certificate_to_label(Certificates:list):
  result = []
  for Certificate in Certificates:
    if Certificate in my_dict:
      result.append(my_dict[Certificate])
    else :
      result.append(0)
  return result

know2017['label_Certificate1'] = know2017['bq4_1a'].map(Certificate_to_label)
know2017['label_Certificate2'] = know2017['bq4_1b'].map(Certificate_to_label)
know2017['label_Certificate3'] = know2017['bq4_1c'].map(Certificate_to_label)

know2018['label_Certificate1'] = know2018['bq4_1a'].map(Certificate_to_label)
know2018['label_Certificate2'] = know2018['bq4_1b'].map(Certificate_to_label)
know2018['label_Certificate3'] = know2018['bq4_1c'].map(Certificate_to_label)

know2019['label_Certificate1'] = know2019['bq4_1a'].map(Certificate_to_label)
know2019['label_Certificate2'] = know2019['bq4_1b'].map(Certificate_to_label)
know2019['label_Certificate3'] = know2019['bq4_1c'].map(Certificate_to_label)

know2020['label_Certificate1'] = know2020['bq4_1a'].map(Certificate_to_label)
know2020['label_Certificate2'] = know2020['bq4_1b'].map(Certificate_to_label)
know2020['label_Certificate3'] = know2020['bq4_1c'].map(Certificate_to_label)

In [ ]:
know2020

        idx saq1_1  ... label_Certificate2 label_Certificate3
0     27127      4  ...       [9088, 9107]             [4980]
1     27128      5  ...             [4980]             [4980]
2     27129      3  ...             [4980]             [4980]
3     27130      4  ...             [4980]             [4980]
4     27131      5  ...             [4980]             [4980]
...     ...    ...  ...                ...                ...
8117  35244      4  ...             [4980]             [4980]
8118  35245      3  ...             [4980]             [4980]
8119  35246      5  ...             [4980]             [4980]
8120  35247      5  ...             [4980]             [4980]
8121  35248      2  ...             [4980]             [4980]

[8122 rows x 189 columns]

### 직업 라벨링

In [ ]:
job = pd.concat([know2017['bq30'],know2017['bq32'],know2017['bq33'],know2017['bq34'],
                         know2018['bq29'],know2018['bq31'],know2018['bq32'],know2018['bq33'],
                         know2019['bq22'],know2019['bq23'],know2019['bq24']])

In [ ]:
# 중복 제거
job = set(job)
job  = list(job)

job  = pd.DataFrame(job)
job  = job.values.tolist()

In [ ]:
jobs = []
for i in range(0,len(job)):
  job_1 = job[i][0].split(',') 
  jobs.append(job_1)

# list를 합친다.
jobs = sum(jobs,[])

In [ ]:
# dict에 직업 값 넣기
my_dict = {}
for i in range(len(jobs)):
  my_dict[jobs[i]] = i


def text_to_list(text:str):
  return list(text.split(','))

know2017['bq30'] = know2017['bq30'].map(text_to_list)
know2017['bq32'] = know2017['bq32'].map(text_to_list)
know2017['bq33'] = know2017['bq33'].map(text_to_list)
know2017['bq34'] = know2017['bq34'].map(text_to_list)

know2018['bq29'] = know2018['bq29'].map(text_to_list)
know2018['bq31'] = know2018['bq31'].map(text_to_list)
know2018['bq32'] = know2018['bq32'].map(text_to_list)
know2018['bq33'] = know2018['bq33'].map(text_to_list)

know2019['bq22'] = know2019['bq22'].map(text_to_list)
know2019['bq23'] = know2019['bq23'].map(text_to_list)
know2019['bq24'] = know2019['bq24'].map(text_to_list)

In [ ]:
def job_to_label(jobs:list):
  result = []
  for job in jobs:
    if job in my_dict:
      result.append(my_dict[job])
    else :
      result.append(0)
  return result

know2017['label_job1'] = know2017['bq30'].map(job_to_label)
know2017['label_job2'] = know2017['bq32'].map(job_to_label)
know2017['label_job3'] = know2017['bq33'].map(job_to_label)
know2017['label_job4'] = know2017['bq34'].map(job_to_label)

know2018['label_job1'] = know2018['bq29'].map(job_to_label)
know2018['label_job2'] = know2018['bq31'].map(job_to_label)
know2018['label_job3'] = know2018['bq32'].map(job_to_label)
know2018['label_job4'] = know2018['bq33'].map(job_to_label)

know2019['label_job1'] = know2019['bq22'].map(job_to_label)
know2019['label_job2'] = know2019['bq23'].map(job_to_label)
know2019['label_job3'] = know2019['bq24'].map(job_to_label)

In [ ]:
know2017

       idx aq1_1 aq1_2  ... label_job2      label_job3 label_job4
0        0     3     3  ...    [28731]  [27168, 25837]    [28731]
1        1     4     5  ...    [28731]         [28731]    [28731]
2        2     3     4  ...    [28731]         [28731]    [28731]
3        3     3     3  ...    [23782]          [1067]    [28731]
4        4     4     5  ...    [28731]         [28731]    [28731]
...    ...   ...   ...  ...        ...             ...        ...
9481  9481     3     5  ...    [28731]          [4619]    [28731]
9482  9482     5     5  ...    [28731]         [28731]    [28731]
9483  9483     3     3  ...    [28731]         [28731]    [28731]
9484  9484     3     5  ...    [28731]         [28731]    [28731]
9485  9485     3     4  ...    [28731]         [28731]    [28731]

[9486 rows x 165 columns]

In [ ]:
know2017.to_csv("know2017_processing.csv")

In [64]:
know2018.to_csv("know2018_processing.csv")

In [66]:
know2019.to_csv("know2019_processing.csv")

In [67]:
know2020.to_csv("know2020_processing.csv")