<a href="https://colab.research.google.com/github/teamgaon/recommendation_algorithms_know/blob/main/220113_sm_num_to_text_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Classification Knowcode using KoBERT Model

텍스트로 변형가능한 숫자feature를 텍스트feature로 활용

In [1]:
!pip install gluonnlp
!pip install 'git+https://github.com/SKTBrain/KoBERT.git#egg=kobert_tokenizer&subdirectory=kobert_hf'
!pip install transformers
!pip install sentencepiece
!pip install kobert-transformers
!pip install git+https://git@github.com/SKTBrain/KoBERT.git@master

Requirement already satisfied: gluonnlp in /usr/local/lib/python3.7/dist-packages (0.10.0)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from gluonnlp) (1.19.5)
Requirement already satisfied: cython in /usr/local/lib/python3.7/dist-packages (from gluonnlp) (0.29.26)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from gluonnlp) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->gluonnlp) (3.0.6)
Collecting kobert_tokenizer
  Cloning https://github.com/SKTBrain/KoBERT.git to /tmp/pip-install-kyxqmgn4/kobert-tokenizer_43891db9d7774be29baa1f039926aabb
  Running command git clone -q https://github.com/SKTBrain/KoBERT.git /tmp/pip-install-kyxqmgn4/kobert-tokenizer_43891db9d7774be29baa1f039926aabb
Requirement already satisfied: transformers in /usr/local/lib/python3.7/dist-packages (4.15.0)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers) (4.62.3)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (2019.12.20)
Requirement already satisfied: tokenizers<0.11,>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.10.3)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (1.19.5)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.7/dist-packages (from transformers) (0.0.47)
Requirement already satisfied: huggingface-hub<1.0,>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.4.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (21.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers) (2.23.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers) (4.10.0)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (6.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers) (3.4.2)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub<1.0,>=0.1.0->transformers) (3.10.0.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->transformers) (3.0.6)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers) (3.7.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (7.1.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.1.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.15.0)
Requirement already satisfied: sentencepiece in /usr/local/lib/python3.7/dist-packages (0.1.96)
Requirement already satisfied: kobert-transformers in /usr/local/lib/python3.7/dist-packages (0.5.1)
Requirement already satisfied: torch>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from kobert-transformers) (1.10.0+cu111)
Requirement already satisfied: transformers<5,>=3 in /usr/local/lib/python3.7/dist-packages (from kobert-transformers) (4.15.0)
Requirement already satisfied: sentencepiece>=0.1.91 in /usr/local/lib/python3.7/dist-packages (from kobert-transformers) (0.1.96)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torch>=1.1.0->kobert-transformers) (3.10.0.2)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.7/dist-packages (from transformers<5,>=3->kobert-transformers) (0.0.47)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from transformers<5,>=3->kobert-transformers) (6.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from transformers<5,>=3->kobert-transformers) (21.3)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers<5,>=3->kobert-transformers) (2019.12.20)
Requirement already satisfied: tokenizers<0.11,>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from transformers<5,>=3->kobert-transformers) (0.10.3)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers<5,>=3->kobert-transformers) (1.19.5)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers<5,>=3->kobert-transformers) (2.23.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers<5,>=3->kobert-transformers) (3.4.2)
Requirement already satisfied: huggingface-hub<1.0,>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from transformers<5,>=3->kobert-transformers) (0.4.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers<5,>=3->kobert-transformers) (4.10.0)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers<5,>=3->kobert-transformers) (4.62.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->transformers<5,>=3->kobert-transformers) (3.0.6)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers<5,>=3->kobert-transformers) (3.7.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers<5,>=3->kobert-transformers) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers<5,>=3->kobert-transformers) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers<5,>=3->kobert-transformers) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers<5,>=3->kobert-transformers) (3.0.4)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers<5,>=3->kobert-transformers) (7.1.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers<5,>=3->kobert-transformers) (1.15.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers<5,>=3->kobert-transformers) (1.1.0)
Collecting git+https://****@github.com/SKTBrain/KoBERT.git@master
  Cloning https://****@github.com/SKTBrain/KoBERT.git (to revision master) to /tmp/pip-req-build-1aaq70b4
  Running command git clone -q 'https://****@github.com/SKTBrain/KoBERT.git' /tmp/pip-req-build-1aaq70b4
Requirement already satisfied: boto3 in /usr/local/lib/python3.7/dist-packages (from kobert==0.2.3) (1.20.34)
Requirement already satisfied: gluonnlp>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from kobert==0.2.3) (0.10.0)
Requirement already satisfied: mxnet>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from kobert==0.2.3) (1.9.0)
Requirement already satisfied: onnxruntime==1.8.0 in /usr/local/lib/python3.7/dist-packages (from kobert==0.2.3) (1.8.0)
Requirement already satisfied: sentencepiece>=0.1.6 in /usr/local/lib/python3.7/dist-packages (from kobert==0.2.3) (0.1.96)
Requirement already satisfied: torch>=1.7.0 in /usr/local/lib/python3.7/dist-packages (from kobert==0.2.3) (1.10.0+cu111)
Requirement already satisfied: transformers>=4.8.1 in /usr/local/lib/python3.7/dist-packages (from kobert==0.2.3) (4.15.0)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.7/dist-packages (from onnxruntime==1.8.0->kobert==0.2.3) (1.19.5)
Requirement already satisfied: flatbuffers in /usr/local/lib/python3.7/dist-packages (from onnxruntime==1.8.0->kobert==0.2.3) (2.0)
Requirement already satisfied: protobuf in /usr/local/lib/python3.7/dist-packages (from onnxruntime==1.8.0->kobert==0.2.3) (3.17.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from gluonnlp>=0.6.0->kobert==0.2.3) (21.3)
Requirement already satisfied: cython in /usr/local/lib/python3.7/dist-packages (from gluonnlp>=0.6.0->kobert==0.2.3) (0.29.26)
Requirement already satisfied: graphviz<0.9.0,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from mxnet>=1.4.0->kobert==0.2.3) (0.8.4)
Requirement already satisfied: requests<3,>=2.20.0 in /usr/local/lib/python3.7/dist-packages (from mxnet>=1.4.0->kobert==0.2.3) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.20.0->mxnet>=1.4.0->kobert==0.2.3) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.20.0->mxnet>=1.4.0->kobert==0.2.3) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.20.0->mxnet>=1.4.0->kobert==0.2.3) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.20.0->mxnet>=1.4.0->kobert==0.2.3) (2021.10.8)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torch>=1.7.0->kobert==0.2.3) (3.10.0.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers>=4.8.1->kobert==0.2.3) (4.10.0)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers>=4.8.1->kobert==0.2.3) (4.62.3)
Requirement already satisfied: huggingface-hub<1.0,>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from transformers>=4.8.1->kobert==0.2.3) (0.4.0)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from transformers>=4.8.1->kobert==0.2.3) (6.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers>=4.8.1->kobert==0.2.3) (3.4.2)
Requirement already satisfied: tokenizers<0.11,>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from transformers>=4.8.1->kobert==0.2.3) (0.10.3)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.7/dist-packages (from transformers>=4.8.1->kobert==0.2.3) (0.0.47)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers>=4.8.1->kobert==0.2.3) (2019.12.20)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->gluonnlp>=0.6.0->kobert==0.2.3) (3.0.6)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.7/dist-packages (from boto3->kobert==0.2.3) (0.10.0)
Requirement already satisfied: botocore<1.24.0,>=1.23.34 in /usr/local/lib/python3.7/dist-packages (from boto3->kobert==0.2.3) (1.23.34)
Requirement already satisfied: s3transfer<0.6.0,>=0.5.0 in /usr/local/lib/python3.7/dist-packages (from boto3->kobert==0.2.3) (0.5.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.7/dist-packages (from botocore<1.24.0,>=1.23.34->boto3->kobert==0.2.3) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.24.0,>=1.23.34->boto3->kobert==0.2.3) (1.15.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers>=4.8.1->kobert==0.2.3) (3.7.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers>=4.8.1->kobert==0.2.3) (1.1.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers>=4.8.1->kobert==0.2.3) (7.1.2)

In [2]:
import torch
from torch import nn
import torch.nn.functional as F
import torch.optim as optim
from torch.utils.data import Dataset, DataLoader
import gluonnlp as nlp
import numpy as np
from tqdm.notebook import tqdm
import pandas as pd
from kobert.utils import get_tokenizer
from kobert.pytorch_kobert import get_pytorch_kobert_model
from transformers import AdamW
from transformers.optimization import get_cosine_schedule_with_warmup
from kobert_tokenizer import KoBERTTokenizer
from sklearn.model_selection import train_test_split
from google.colab import drive
import matplotlib.pyplot as plt
import warnings

In [3]:
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [4]:
warnings.filterwarnings(action='ignore') 
train1 = pd.read_csv('/content/gdrive/MyDrive/know/train/KNOW_2017.csv', encoding='utf-8')
train2 = pd.read_csv('/content/gdrive/MyDrive/know/train/KNOW_2018.csv', encoding='utf-8')
train3 = pd.read_csv('/content/gdrive/MyDrive/know/train/KNOW_2019.csv', encoding='utf-8')
train4 = pd.read_csv('/content/gdrive/MyDrive/know/train/KNOW_2020.csv', encoding='utf-8')

test1 = pd.read_csv('/content/gdrive/MyDrive/know/test/KNOW_2017_test.csv', encoding='utf-8')
test2 = pd.read_csv('/content/gdrive/MyDrive/know/test/KNOW_2018_test.csv', encoding='utf-8')
test3 = pd.read_csv('/content/gdrive/MyDrive/know/test/KNOW_2019_test.csv', encoding='utf-8')
test4 = pd.read_csv('/content/gdrive/MyDrive/know/test/KNOW_2020_test.csv', encoding='utf-8')

submission = pd.read_csv('/content/gdrive/MyDrive/know/sample_submission.csv', encoding='utf-8')

train2 = train2[train2['idx'] != 18048]
train3 = train3[train3['idx'] != 19871]

## 2017 텍스트 데이터 전처리

In [5]:
def bq1_to_text(num:int):
  if num == 1:
    return '산업유형은 농업, 임업, 어업.'
  elif num == 2:
    return '산업유형은 광업.'
  elif num == 3:
    return '산업유형은 제조업.'
  elif num == 4:
    return '산업유형은 전기, 가스, 증기 및 공기조절 공급업.'
  elif num == 5:
    return '산업유형은 수도·하수·폐기물 처리, 원료재생업.'
  elif num == 6:
    return '산업유형은 건설업.'
  elif num == 7:
    return '산업유형은 도매 및 소매업.'
  elif num == 8:
    return '산업유형은 운수 및 창고업.'
  elif num == 9:
    return '산업유형은 숙박 및 음식점업.'
  elif num == 10:
    return '산업유형은 정보통신업.'
  elif num == 11:
    return '산업유형은 금융 및 보험업.'
  elif num == 12:
    return '산업유형은 부동산업.'
  elif num == 13:
    return '산업유형은 전문, 과학 및 기술 서비스업.'
  elif num == 14:
    return '산업유형은 사업시설 관리, 사업지원 및 임대 서비스업.'
  elif num == 15:
    return '산업유형은 공공행정, 국방 및 사회보장 행정.'
  elif num == 16:
    return '산업유형은 교육 서비스업.'
  elif num == 17:
    return '산업유형은 보건업 및 사회복지 서비스업.'
  elif num == 18:
    return '산업유형은 예술, 스포츠 및 여가관련 서비스업.'
  elif num == 19:
    return '산업유형은 협회 및 단체, 수리 및 기타 개인 서비스업.'
  elif num == 20:
    return '산업유형은 가구내 고용활동 및 달리 분류되지 않은 자가소비 생산활동.'
  elif num == 21:
    return '산업유형은 국제 및 외국기관.'

train1['bq1'] = train1['bq1'].map(bq1_to_text)

In [6]:
def bq2_to_text(num:int):
  if num == 1:
    return '근무업체 유형은 민간회사 또는 개인사업체(외국인회사 포함).'
  elif num == 2:
    return '근무업체 유형은 정부기관 및 산하기관(공기업 포함).'
  elif num == 3:
    return '근무업체 유형은 (재단, 사단)법인단체.'
  elif num == 4:
    return '근무업체 유형은 특정회사나 사업체에 소속되어 있지 않음 (자영업 포함).'
  elif num == 5:
    return '근무업체 유형은 학교법인 혹은 학원.'
  elif num == 6:
    return '근무업체 유형은 기타.'

train1['bq2'] = train1['bq2'].map(bq2_to_text)

In [7]:
def bq3_to_text(num:int):
  if num == 1:
    return '근무업체 규모는 1명 ~ 4명.'
  elif num == 2:
    return '근무업체 규모는 5명 ~ 49명.'
  elif num == 3:
    return '근무업체 규모는 50명 ~ 99명.'
  elif num == 4:
    return '근무업체 규모는 100명 ~299명.'
  elif num == 5:
    return '근무업체 규모는 300명 ~ 999명.'
  elif num == 6:
    return '근무업체 규모는 1,000명 이상.'

train1['bq3'] = train1['bq3'].map(bq3_to_text)

In [8]:
def bq5_1_to_text(num:int):
  try :
    num = int(num)
    if num == 1:
      return '훈련기간은 1개월 미만.'
    elif num == 2:
      return '훈련기간은 1개월 이상~3개월 미만.'
    elif num == 3:
      return '훈련기간은 3개월 이상~6개월 미만.'
    elif num == 4:
      return '훈련기간은 6개월 이상~1년 미만.'
    elif num == 5:
      return '훈련기간은 1년 이상~2년 미만.'
    elif num == 6:
      return '훈련기간은 2년 이상.'
  except :
    return '훈련기간은 필요없다.'

train1['bq5_1'] = train1['bq5_1'].map(bq5_1_to_text)

In [9]:
def bq6_to_text(num:int):
  if num == 1:
    return '관련된 업무경험은 1개월 미만.'
  elif num == 2:
    return '관련된 업무경험은 1개월 이상~3개월 미만.'
  elif num == 3:
    return '관련된 업무경험은 3개월 이상~6개월 미만.'
  elif num == 4:
    return '관련된 업무경험은 6개월 이상~1년 미만.'
  elif num == 5:
    return '관련된 업무경험은 1년 이상~2년 미만.'
  elif num == 6:
    return '관련된 업무경험은 2년 이상.'
  elif num == 7:
    return '이전 업무경험 필요없음.'

train1['bq6'] = train1['bq6'].map(bq6_to_text)

In [10]:
def bq7_to_text(num:int):
  if num == 1:
    return '업무 수행 교육수준은 중학교 졸업 이하.'
  elif num == 2:
    return '업무 수행 교육수준은 고등학교 졸업.'
  elif num == 3:
    return '업무 수행 교육수준은 고등학교 졸업 후 직업교육(6개월 이상) 이수.'
  elif num == 4:
    return '업무 수행 교육수준은 전문대학교 졸업.'
  elif num == 5:
    return '업무 수행 교육수준은 대학교 졸업.'
  elif num == 6:
    return '업무 수행 교육수준은 대학원 석사 졸업.'
  elif num == 7:
    return '업무 수행 교육수준은 대학원 박사 졸업.'

train1['bq7'] = train1['bq7'].map(bq7_to_text)

In [11]:
def bq17_to_text(num:int):
  if num == 1:
    return '업무성과 극대화 연령대은 20대 이하.'
  elif num == 2:
    return '업무성과 극대화 연령대은 30대.'
  elif num == 3:
    return '업무성과 극대화 연령대은 40대.'
  elif num == 4:
    return '업무성과 극대화 연령대은 50대.'
  elif num == 5:
    return '업무성과 극대화 연령대은 60대 이상.'

train1['bq17'] = train1['bq17'].map(bq17_to_text)

In [12]:
def bq23_to_text(num:int):
  return '기술적 변화요인으로 인한 업무 대체 비율은 ' + str(num) + '%.'

train1['bq23'] = train1['bq23'].map(bq23_to_text)

In [13]:
def bq36_to_text(num:int):
  if num == 1:
    return '나의 성별은 남성이다.'
  elif num == 2:
    return '나의 성별은 여성이다.'

train1['bq36'] = train1['bq36'].map(bq36_to_text)

In [14]:
def bq37_to_text(num:int):
  return '나의 나이는 ' + str(num) + '살이다.'

train1['bq37'] = train1['bq37'].map(bq37_to_text)

In [15]:
def bq38_to_text(num:int):
  if num == 1:
    return '나의 최종학력은 중학교 졸업 이하이다.'
  elif num == 2:
    return '나의 최종학력은 고등학교 졸업이다.'
  elif num == 3:
    return '나의 최종학력은 2~3년제 대학교 졸업이다.'
  elif num == 4:
    return '나의 최종학력은 대학교 졸업이다.'
  elif num == 5:
    return '나의 최종학력은 대학원 석사 졸업이다.'
  elif num == 6:
    return '나의 최종학력은 대학원 박사 졸업이다.'

train1['bq38'] = train1['bq38'].map(bq38_to_text)

In [16]:
def bq40_to_text(num:int):
  try:
    num = int(num)
    if num == 1:
      return '나의 계약형태는 정규직이다.'
    elif num == 2:
      return '나의 계약형태는 비정규직이다.'
  except:
    return '나의 계약형태는 알 수 없다.'

train1['bq40'] = train1['bq40'].map(bq40_to_text)

In [17]:
def bq41_1_to_text(num:int):
  try:
    num = int(num)
    return '나의 근로소득은 ' + str(num) + '만원이다.'
  except:
    return '나의 근로소득은 알 수 없다.'

train1['bq41_1'] = train1['bq41_1'].map(bq41_1_to_text)

In [18]:
def bq41_2_to_text(num:int):
  try:
    num = int(num)
    return '나의 초임임금은 ' + str(num) + '만원이다.'
  except:
    return '나의 초임임금은 알 수 없다.'

train1['bq41_2'] = train1['bq41_2'].map(bq41_2_to_text)

In [19]:
def bq41_3_to_text(num:int):
  try:
    num = int(num)
    return '나의 순수입은 ' + str(num) + '만원이다.'
  except:
    return '나의 순수입은 알 수 없다.'

train1['bq41_3'] = train1['bq41_3'].map(bq41_3_to_text)

In [20]:
train1.head()

   idx  aq1_1 aq1_2  ...            bq41_2             bq41_3  knowcode
0    0      3     3  ...  나의 초임임금은 알 수 없다.  나의 순수입은 2200만원이다.    825101
1    1      4     5  ...  나의 초임임금은 알 수 없다.  나의 순수입은 2400만원이다.    140204
2    2      3     4  ...  나의 초임임금은 알 수 없다.  나의 순수입은 2400만원이다.    140204
3    3      3     3  ...  나의 초임임금은 알 수 없다.  나의 순수입은 3500만원이다.    140601
4    4      4     5  ...  나의 초임임금은 알 수 없다.  나의 순수입은 2500만원이다.    140204

[5 rows x 156 columns]

## 2018 텍스트 데이터 전처리

In [21]:
def cq48_to_text(num:int):
  if num == 1:
    return '나는 재택근무가 불가능하다.'
  elif num == 2:
    return '나는 재택근무가 가능하다.'

train2['cq48'] = train2['cq48'].map(cq48_to_text)

In [22]:
def bq1_to_text(num:int):
  if num == 1:
    return '산업유형은 농업, 임업, 어업.'
  elif num == 2:
    return '산업유형은 광업.'
  elif num == 3:
    return '산업유형은 제조업.'
  elif num == 4:
    return '산업유형은 전기, 가스, 증기 및 공기조절 공급업.'
  elif num == 5:
    return '산업유형은 수도·하수·폐기물 처리, 원료재생업.'
  elif num == 6:
    return '산업유형은 건설업.'
  elif num == 7:
    return '산업유형은 도매 및 소매업.'
  elif num == 8:
    return '산업유형은 운수 및 창고업.'
  elif num == 9:
    return '산업유형은 숙박 및 음식점업.'
  elif num == 10:
    return '산업유형은 정보통신업.'
  elif num == 11:
    return '산업유형은 금융 및 보험업.'
  elif num == 12:
    return '산업유형은 부동산업.'
  elif num == 13:
    return '산업유형은 전문, 과학 및 기술 서비스업.'
  elif num == 14:
    return '산업유형은 사업시설 관리, 사업지원 및 임대 서비스업.'
  elif num == 15:
    return '산업유형은 공공행정, 국방 및 사회보장 행정.'
  elif num == 16:
    return '산업유형은 교육 서비스업.'
  elif num == 17:
    return '산업유형은 보건업 및 사회복지 서비스업.'
  elif num == 18:
    return '산업유형은 예술, 스포츠 및 여가관련 서비스업.'
  elif num == 19:
    return '산업유형은 협회 및 단체, 수리 및 기타 개인 서비스업.'
  elif num == 20:
    return '산업유형은 가구내 고용활동 및 달리 분류되지 않은 자가소비 생산활동.'
  elif num == 21:
    return '산업유형은 국제 및 외국기관.'

train2['bq1'] = train2['bq1'].map(bq1_to_text)

In [23]:
def bq2_to_text(num:int):
  if num == 1:
    return '근무업체 유형은 민간회사 또는 개인사업체(외국인회사 포함).'
  elif num == 2:
    return '근무업체 유형은 정부기관 및 산하기관(공기업 포함).'
  elif num == 3:
    return '근무업체 유형은 (재단, 사단)법인단체.'
  elif num == 4:
    return '근무업체 유형은 특정회사나 사업체에 소속되어 있지 않음 (자영업 포함).'
  elif num == 5:
    return '근무업체 유형은 학교법인 혹은 학원.'
  elif num == 6:
    return '근무업체 유형은 기타.'

train2['bq2'] = train2['bq2'].map(bq2_to_text)

In [24]:
def bq3_to_text(num:int):
  if num == 1:
    return '근무업체 규모는 1명 ~ 4명.'
  elif num == 2:
    return '근무업체 규모는 5명 ~ 49명.'
  elif num == 3:
    return '근무업체 규모는 50명 ~ 99명.'
  elif num == 4:
    return '근무업체 규모는 100명 ~299명.'
  elif num == 5:
    return '근무업체 규모는 300명 ~ 999명.'
  elif num == 6:
    return '근무업체 규모는 1,000명 이상.'

train2['bq3'] = train2['bq3'].map(bq3_to_text)

In [25]:
def bq5_1_to_text(num:int):
  try :
    num = int(num)
    if num == 1:
      return '훈련기간은 1개월 미만.'
    elif num == 2:
      return '훈련기간은 1개월 이상~3개월 미만.'
    elif num == 3:
      return '훈련기간은 3개월 이상~6개월 미만.'
    elif num == 4:
      return '훈련기간은 6개월 이상~1년 미만.'
    elif num == 5:
      return '훈련기간은 1년 이상~2년 미만.'
    elif num == 6:
      return '훈련기간은 2년 이상.'
  except :
    return '훈련기간은 필요없다.'

train2['bq5_1'] = train2['bq5_1'].map(bq5_1_to_text)

In [26]:
def bq13_to_text(num:int):
  if num == 1:
    return '업무내용 규정성은 사업주/상사에게 있다.'
  elif num == 2:
    return '업무내용 규정성은 고객에게 있다.'
  elif num == 3:
    return '업무내용 규정성은 본인재량이다.'

train2['bq13'] = train2['bq13'].map(bq13_to_text)

In [27]:
def bq14_to_text(num:int):
  if num == 1:
    return '나는 업무관련 수칙을 적용 받는다.'
  elif num == 2:
    return '나는 업무관련 수칙을 적용 받지 않는다.'

train2['bq14'] = train2['bq14'].map(bq14_to_text)

In [28]:
def bq15_to_text(num:int):
  if num == 1:
    return '지휘감독은 사업주/상사에게 받는다.'
  elif num == 2:
    return '지휘감독은 지점/대리점의 점장이나 소장에게 받는다.'
  elif num == 3:
    return '지휘감독은 고객에게 받는다.'
  elif num == 4:
    return '지휘감독을 받지 않는다.'

train2['bq15'] = train2['bq15'].map(bq15_to_text)

In [29]:
def bq16_to_text(num:int):
  if num == 1:
    return '나는 업무 거부가 가능하다.'
  elif num == 2:
    return '나는 업무 거부가 불가능하다.'

train2['bq16'] = train2['bq16'].map(bq16_to_text)

In [30]:
def bq17_to_text(num:int):
  if num == 1:
    return '근무시간과 장소는 주로 사업주/상사에 의해 정해진다.'
  elif num == 2:
    return '근무시간과 장소는 주로 고객에 의해 정해진다.'
  elif num == 3:
    return '근무시간과 장소는 주로 본인 재량에 의해 정해진다.'

train2['bq17'] = train2['bq17'].map(bq17_to_text)

In [31]:
def bq18_to_text(num:int):
  if num == 1:
    return '작업도구는 주로 사업주/상사 소유다.'
  elif num == 2:
    return '작업도구는 사업주와 본인이 반반 소유한다.'
  elif num == 3:
    return '작업도구는 주로 본인이 소유한다.'

train2['bq18'] = train2['bq18'].map(bq18_to_text)

In [32]:
def bq21_to_text(num:int):
  return '나의 보수 중 고정급은 ' + str(num) + '%이다.'

train2['bq21'] = train2['bq21'].map(bq21_to_text)

In [33]:
def bq27_to_text(num:int):
  if num == 1:
    return '나는 플랫폼 중개로 일거리를 얻는다.'
  elif num == 2:
    return '나는 플랫폼 중개로 일거리를 얻지 않는다.'

train2['bq27'] = train2['bq27'].map(bq27_to_text)

In [34]:
train2.head()

    idx  cq1  cq2  cq3  cq4  cq5  ...  bq39  bq40  bq41_1  bq41_2  bq41_3  knowcode
0  9486    5    3    4    2    2  ...     1    42    3800    3400            306301
1  9487    4    3    4    4    4  ...     1    40    2300    1800            133204
2  9488    4    1    5    3    3  ...        30.0                    3000    702502
3  9489    4    3    4    4    4  ...     1    40    3350    2750            121201
4  9490    3    2    3    1    1  ...     1    40    2500    2300            306301

[5 rows x 141 columns]

## 2019 텍스트 데이터 전처리

In [35]:
def bq1_to_text(num:int):
  if num == 1:
    return '산업유형은 농업, 임업, 어업.'
  elif num == 2:
    return '산업유형은 광업.'
  elif num == 3:
    return '산업유형은 제조업.'
  elif num == 4:
    return '산업유형은 전기, 가스, 증기 및 공기조절 공급업.'
  elif num == 5:
    return '산업유형은 수도·하수·폐기물 처리, 원료재생업.'
  elif num == 6:
    return '산업유형은 건설업.'
  elif num == 7:
    return '산업유형은 도매 및 소매업.'
  elif num == 8:
    return '산업유형은 운수 및 창고업.'
  elif num == 9:
    return '산업유형은 숙박 및 음식점업.'
  elif num == 10:
    return '산업유형은 정보통신업.'
  elif num == 11:
    return '산업유형은 금융 및 보험업.'
  elif num == 12:
    return '산업유형은 부동산업.'
  elif num == 13:
    return '산업유형은 전문, 과학 및 기술 서비스업.'
  elif num == 14:
    return '산업유형은 사업시설 관리, 사업지원 및 임대 서비스업.'
  elif num == 15:
    return '산업유형은 공공행정, 국방 및 사회보장 행정.'
  elif num == 16:
    return '산업유형은 교육 서비스업.'
  elif num == 17:
    return '산업유형은 보건업 및 사회복지 서비스업.'
  elif num == 18:
    return '산업유형은 예술, 스포츠 및 여가관련 서비스업.'
  elif num == 19:
    return '산업유형은 협회 및 단체, 수리 및 기타 개인 서비스업.'
  elif num == 20:
    return '산업유형은 가구내 고용활동 및 달리 분류되지 않은 자가소비 생산활동.'
  elif num == 21:
    return '산업유형은 국제 및 외국기관.'

train3['bq1'] = train3['bq1'].map(bq1_to_text)

In [36]:
def bq2_to_text(num:int):
  if num == 1:
    return '근무업체 유형은 민간회사 또는 개인사업체(외국인회사 포함).'
  elif num == 2:
    return '근무업체 유형은 정부기관 및 산하기관(공기업 포함).'
  elif num == 3:
    return '근무업체 유형은 (재단, 사단)법인단체.'
  elif num == 4:
    return '근무업체 유형은 특정회사나 사업체에 소속되어 있지 않음 (자영업 포함).'
  elif num == 5:
    return '근무업체 유형은 학교법인 혹은 학원.'
  elif num == 6:
    return '근무업체 유형은 기타.'

train3['bq2'] = train3['bq2'].map(bq2_to_text)

In [37]:
def bq3_to_text(num:int):
  if num == 1:
    return '근무업체 규모는 1명 ~ 4명.'
  elif num == 2:
    return '근무업체 규모는 5명 ~ 49명.'
  elif num == 3:
    return '근무업체 규모는 50명 ~ 99명.'
  elif num == 4:
    return '근무업체 규모는 100명 ~299명.'
  elif num == 5:
    return '근무업체 규모는 300명 ~ 999명.'
  elif num == 6:
    return '근무업체 규모는 1,000명 이상.'

train3['bq3'] = train3['bq3'].map(bq3_to_text)

In [38]:
def bq5_1_to_text(num:int):
  try :
    num = int(num)
    if num == 1:
      return '훈련기간은 1개월 미만.'
    elif num == 2:
      return '훈련기간은 1개월 이상~3개월 미만.'
    elif num == 3:
      return '훈련기간은 3개월 이상~6개월 미만.'
    elif num == 4:
      return '훈련기간은 6개월 이상~1년 미만.'
    elif num == 5:
      return '훈련기간은 1년 이상~2년 미만.'
    elif num == 6:
      return '훈련기간은 2년 이상.'
  except :
    return '훈련기간은 필요없다.'

train3['bq5_1'] = train3['bq5_1'].map(bq5_1_to_text)

In [39]:
train3.head()

     idx  sq1  sq2  sq3  sq4  sq5  ...  bq29  bq30  bq31_1  bq31_2  bq31_3  knowcode
0  18569    4    4    4    3    4  ...     1    40    3500    3000            812301
1  18570    4    3    4    4    4  ...        40.0                    5000     15201
2  18571    2    3    2    2    2  ...          30                    3000    901101
3  18572    5    5    5    5    5  ...     1  40.0    3600    2400             29903
4  18573    1    4    4    1    1  ...          45                    1500    561401

[5 rows x 153 columns]

## 2020년 텍스트 데이터 전처리

In [40]:
train4['bq1'] = train4['bq1'].map(bq1_to_text)

In [41]:
train4['bq2'] = train4['bq2'].map(bq2_to_text)

In [42]:
train4['bq3'] = train4['bq3'].map(bq3_to_text)

In [43]:
train4['bq5_1'] = train4['bq5_1'].map(bq5_1_to_text)

In [44]:
def bq6_to_text(num:int):
  if num == 1:
    return '관련된 업무 경험은 1개월 미만.'
  elif num == 2:
    return '관련된 업무 경험은 1개월 이상~3개월 미만.'
  elif num == 3:
    return '관련된 업무 경험은 3개월 이상~6개월 미만.'
  elif num == 4:
    return '관련된 업무 경험은 6개월 이상~1년 미만.'
  elif num == 5:
    return '관련된 업무 경험은 1년 이상~2년 미만.'
  elif num == 6:
    return '관련된 업무 경험은 2년 이상.'
  elif num == 7:
    return '관련된 업무 경험은 필요없음.'

train4['bq6'] = train4['bq6'].map(bq6_to_text)

In [45]:
def bq7_to_text(num:int):
  if num == 1:
    return '업무 수행 교육수준은 중학교 졸업 이하.'
  elif num == 2:
    return '업무 수행 교육수준은 고등학교 졸업.'
  elif num == 3:
    return '업무 수행 교육수준은 고등학교 졸업 후 직업교육(6개월 이상) 이수.'
  elif num == 4:
    return '업무 수행 교육수준은 전문대학교 졸업.'
  elif num == 5:
    return '업무 수행 교육수준은 대학교 졸업.'
  elif num == 6:
    return '업무 수행 교육수준은 대학원 석사 졸업.'
  elif num == 7:
    return '업무 수행 교육수준은 대학원 박사 졸업.'

train4['bq7'] = train4['bq7'].map(bq7_to_text)

In [46]:
def bq24_to_text(num:int):
  if num == 1:
    return '나의 성별은 남성이다.'
  elif num == 2:
    return '나의 성별은 여성이다.'

train4['bq24'] = train4['bq24'].map(bq24_to_text)

In [47]:
def bq25_to_text(num:int):
  return '나의 나이는 ' + str(num) + '살이다.'

train4['bq25'] = train4['bq25'].map(bq25_to_text)

In [48]:
def bq26_to_text(num:int):
  if num == 1:
    return '나의 최종학력은 중학교 졸업 이하이다.'
  elif num == 2:
    return '나의 최종학력은 고등학교 졸업이다.'
  elif num == 3:
    return '나의 최종학력은 2~3년제 대학교 졸업이다.'
  elif num == 4:
    return '나의 최종학력은 대학교 졸업이다.'
  elif num == 5:
    return '나의 최종학력은 대학원 석사 졸업이다.'
  elif num == 6:
    return '나의 최종학력은 대학원 박사 졸업이다.'

train4['bq26'] = train4['bq26'].map(bq26_to_text)

In [49]:
def bq28_to_text(num:int):
  try:
    num = int(num)
    if num == 1:
      return '나의 계약형태는 정규직이다.'
    elif num == 2:
      return '나의 계약형태는 비정규직이다.'
  except:
    return '나의 계약형태는 알 수 없다.'

train4['bq28'] = train4['bq28'].map(bq28_to_text)

In [50]:
def bq29_to_text(num:int):
  return '주당 근로시간은 ' + str(num) + '시간이다.'

train4['bq29'] = train4['bq29'].map(bq29_to_text)

In [51]:
def bq30_1_to_text(num:int):
  try:
    num = int(num)
    return '나의 근로소득은 ' + str(num) + '만원이다.'
  except:
    return '나의 근로소득은 알 수 없다.'

train4['bq30_1'] = train4['bq30_1'].map(bq30_1_to_text)

In [52]:
def bq30_2_to_text(num:int):
  try:
    num = int(num)
    return '나의 초임임금은 ' + str(num) + '만원이다.'
  except:
    return '나의 초임임금은 알 수 없다.'

train4['bq30_2'] = train4['bq30_2'].map(bq30_2_to_text)

In [53]:
def bq30_3_to_text(num:int):
  try:
    num = int(num)
    return '나의 순수입은 ' + str(num) + '만원이다.'
  except:
    return '나의 순수입은 알 수 없다.'

train4['bq30_3'] = train4['bq30_3'].map(bq30_3_to_text)

In [54]:
train4.head()

     idx  saq1_1 saq1_2  ...              bq30_2           bq30_3  knowcode
0  27127       4      4  ...  나의 초임임금은 2600만원이다.  나의 순수입은 알 수 없다.    304003
1  27128       5      6  ...  나의 초임임금은 3000만원이다.  나의 순수입은 알 수 없다.    221401
2  27129       3      4  ...  나의 초임임금은 3000만원이다.  나의 순수입은 알 수 없다.    815001
3  27130       4      5  ...  나의 초임임금은 3300만원이다.  나의 순수입은 알 수 없다.    304003
4  27131       5      6  ...  나의 초임임금은 2700만원이다.  나의 순수입은 알 수 없다.    140201

[5 rows x 185 columns]

In [55]:
#bq4_1a, bq4_1b, bq4_1c, bq5_2, bq19_1, bq30, bq31, bq32, bq33, bq34, bq38_1
#bq1, bq2, bq3, bq5_1, bq6, bq7, bq17, bq23, bq36, bq37, bq38, bq40, bq41_1, bq41_2, bq41_3

cols = ['bq1', 'bq2', 'bq3', 'bq5_1', 'bq6', 'bq7', 'bq17', 'bq23', 'bq36', 'bq37', 'bq38', 'bq40', 'bq41_1', 'bq41_2', 'bq41_3',
        'bq4_1a', 'bq4_1b', 'bq4_1c', 'bq5_2', 'bq19_1', 'bq30', 'bq31', 'bq32', 'bq33', 'bq34', 'bq38_1']

def null_to_no(text : str):
  if text == ' ':
    return '없다'
  else:
    return text

for col in cols:
  train1[col] = train1[col].map(null_to_no)

train1['bq4_1a'] = '요구자격증은 ' + train1['bq4_1a'].astype(str) + '이다.'
train1['bq4_1b'] = '요구자격증은 ' + train1['bq4_1b'].astype(str) + '이다.'
train1['bq4_1c'] = '요구자격증은 ' + train1['bq4_1c'].astype(str) + '이다.'
train1['bq5_2'] = '요구훈련종류는 ' + train1['bq5_2'].astype(str) + '이다.'
train1['bq19_1'] = '향후 일자리 변화 이유는 ' + train1['bq19_1'].astype(str) + '이다.'
train1['bq30'] = '유사직업명은 ' + train1['bq30'].astype(str) + '이다.'
train1['bq31'] = '사용도구 및 프로그램은 ' + train1['bq31'].astype(str) + '이다.'
train1['bq32'] = '이전직업은 ' + train1['bq32'].astype(str) + '이다.'
train1['bq33'] = '전직 가능 직업은 ' + train1['bq33'].astype(str) + '이다.'
train1['bq34'] = '신직업 발굴은 ' + train1['bq34'].astype(str) + '이다.'
train1['bq38_1'] = '나의 전공은 ' + train1['bq38_1'].astype(str) + '이다.'

temp = ''
for col in cols:
  temp += train1[col]
  temp += ' '

train1['text'] = temp

In [56]:
# bq4_1a, bq4_1b, bq4_1c, bq5_2, bq28_1,	bq29,	bq30,	bq31,	bq32, bq33, bq37_1
# cq48, bq1, bq2, bq3, bq5_1, bq13, bq14, bq15, bq16, bq17, bq18, bq21, bq27

cols = ['cq48', 'bq1', 'bq2', 'bq3', 'bq5_1', 'bq13', 'bq14', 'bq15', 'bq16', 'bq17', 'bq18', 'bq21', 'bq27',
        'bq4_1a', 'bq4_1b', 'bq4_1c', 'bq5_2', 'bq28_1',	'bq29',	'bq30',	'bq31',	'bq32', 'bq33', 'bq37_1']

def null_to_no(text : str):
  if text == ' ':
    return '없다'
  else:
    return text

for col in cols:
  train2[col] = train2[col].map(null_to_no)

train2['bq4_1a'] = '요구자격증은 ' + train2['bq4_1a'].astype(str) + '이다.'
train2['bq4_1b'] = '요구자격증은 ' + train2['bq4_1b'].astype(str) + '이다.'
train2['bq4_1c'] = '요구자격증은 ' + train2['bq4_1c'].astype(str) + '이다.'
train2['bq5_2'] = '요구훈련종류는 ' + train2['bq5_2'].astype(str) + '이다.'
train2['bq28_1'] = '향후 일자리 변화 이유는 ' + train2['bq28_1'].astype(str) + '이다.'
train2['bq29'] = '유사직업명은 ' + train2['bq29'].astype(str) + '이다.'
train2['bq30'] = '사용도구 및 프로그램은 ' + train2['bq30'].astype(str) + '이다.'
train2['bq31'] = '이전직업은 ' + train2['bq31'].astype(str) + '이다.'
train2['bq32'] = '전직 가능 직업은 ' + train2['bq32'].astype(str) + '이다.'
train2['bq33'] = '신직업 발굴은 ' + train2['bq33'].astype(str) + '이다.'
train2['bq37_1'] = '나의 전공은 ' + train2['bq37_1'].astype(str) + '이다.'

temp = ''
for col in cols:
  temp += train2[col]
  temp += ' '

train2['text'] = temp

In [57]:
# bq4_1a, bq4_1b, bq4_1c, bq5_2, bq18_10,	bq20_1, bq22,	bq23,	bq24, bq27_1
# bq1, bq2, bq3, bq5_1

cols = ['bq1', 'bq2', 'bq3', 'bq5_1',
        'bq4_1a', 'bq4_1b', 'bq4_1c', 'bq5_2', 'bq18_10',	'bq20_1', 'bq22',	'bq23',	'bq24', 'bq27_1']

def null_to_no(text : str):
  if text == ' ':
    return '없다'
  else:
    return text

for col in cols:
  train3[col] = train3[col].map(null_to_no)

train3['bq4_1a'] = '요구자격증은 ' + train3['bq4_1a'].astype(str) + '이다.'
train3['bq4_1b'] = '요구자격증은 ' + train3['bq4_1b'].astype(str) + '이다.'
train3['bq4_1c'] = '요구자격증은 ' + train3['bq4_1c'].astype(str) + '이다.'
train3['bq5_2'] = '요구훈련종류는 ' + train3['bq5_2'].astype(str) + '이다.'
train3['bq18_10'] = '향후 일자리 변화 관련 예시는 ' + train3['bq18_10'].astype(str) + '이다.'
train3['bq20_1'] = '향후 일자리 변화 이유는 ' + train3['bq20_1'].astype(str) + '이다.'
train3['bq22'] = '이전직업은 ' + train3['bq22'].astype(str) + '이다.'
train3['bq23'] = '전직 가능 직업은 ' + train3['bq23'].astype(str) + '이다.'
train3['bq24'] = '신직업 발굴은 ' + train3['bq24'].astype(str) + '이다.'
train3['bq27_1'] = '나의 전공은 ' + train3['bq27_1'].astype(str) + '이다.'

temp = ''
for col in cols:
  temp += train3[col]
  temp += ' '

train3['text'] = temp

In [58]:
# bq4_1a, bq4_1b, bq4_1c, bq5_2, bq18_10, bq20_1, bq26_1
# bq1, bq2, bq3, bq5_1, bq6, bq7, bq24, bq25, bq26, bq28, bq29, bq30_1, bq30_2, bq30_3

cols = ['bq1', 'bq2', 'bq3', 'bq5_1', 'bq6', 'bq7', 'bq24', 'bq25', 'bq26', 'bq28', 'bq29', 'bq30_1', 'bq30_2', 'bq30_3',
        'bq4_1a', 'bq4_1b', 'bq4_1c', 'bq5_2', 'bq18_10', 'bq20_1', 'bq26_1']

def null_to_no(text : str):
  if text == ' ':
    return '없다'
  else:
    return text

for col in cols:
  train4[col] = train4[col].map(null_to_no)

train4['bq4_1a'] = '요구자격증은 ' + train4['bq4_1a'].astype(str) + '이다.'
train4['bq4_1b'] = '요구자격증은 ' + train4['bq4_1b'].astype(str) + '이다.'
train4['bq4_1c'] = '요구자격증은 ' + train4['bq4_1c'].astype(str) + '이다.'
train4['bq5_2'] = '요구훈련종류는 ' + train4['bq5_2'].astype(str) + '이다.'
train4['bq18_10'] = '향후 일자리 변화 관련 예시는 ' + train4['bq18_10'].astype(str) + '이다.'
train4['bq20_1'] = '향후 일자리 변화 이유는 ' + train4['bq20_1'].astype(str) + '이다.'
train4['bq26_1'] = '나의 전공은 ' + train4['bq26_1'].astype(str) + '이다.'

temp = ''
for col in cols:
  temp += train4[col]
  temp += ' '

train4['text'] = temp

In [59]:
df = pd.concat([train1[['idx', 'text', 'knowcode']], train2[['idx', 'text', 'knowcode']], train3[['idx', 'text', 'knowcode']], train4[['idx', 'text', 'knowcode']]], axis=0)
df = df.reset_index(drop=True)
df

         idx                                               text  knowcode
0          0  산업유형은 제조업. 근무업체 유형은 민간회사 또는 개인사업체(외국인회사 포함). 근...    825101
1          1  산업유형은 전문, 과학 및 기술 서비스업. 근무업체 유형은 민간회사 또는 개인사업체...    140204
2          2  산업유형은 전문, 과학 및 기술 서비스업. 근무업체 유형은 민간회사 또는 개인사업체...    140204
3          3  산업유형은 전문, 과학 및 기술 서비스업. 근무업체 유형은 정부기관 및 산하기관(공...    140601
4          4  산업유형은 건설업. 근무업체 유형은 민간회사 또는 개인사업체(외국인회사 포함). 근...    140204
...      ...                                                ...       ...
35228  35244  산업유형은 전문, 과학 및 기술 서비스업. 근무업체 유형은 정부기관 및 산하기관(공...    121105
35229  35245  산업유형은 금융 및 보험업. 근무업체 유형은 민간회사 또는 개인사업체(외국인회사 포...     26102
35230  35246  산업유형은 금융 및 보험업. 근무업체 유형은 민간회사 또는 개인사업체(외국인회사 포...     31301
35231  35247  산업유형은 제조업. 근무업체 유형은 민간회사 또는 개인사업체(외국인회사 포함). 근...    154105
35232  35248  산업유형은 숙박 및 음식점업. 근무업체 유형은 민간회사 또는 개인사업체(외국인회사 ...     14201

[35233 rows x 3 columns]

In [60]:
def remove_ddaom(text:str):
  return str(text).replace('"', '')

df['text'] = df['text'].map(remove_ddaom)

def remove_enter(text:str):
  return text.replace('\n', ' ')

df['text'] = df['text'].map(remove_enter)

In [61]:
## CPU
# device = torch.device("cpu")

## GPU
device = torch.device("cuda:0")

In [62]:
bertmodel, vocab = get_pytorch_kobert_model(cachedir=".cache")

/content/.cache/kobert_v1.zip[██████████████████████████████████████████████████]
/content/.cache/kobert_news_wiki_ko_cased-1087f8699e.spiece[██████████████████████████████████████████████████]

In [63]:
my_dict = {}
for i in range(len(df['knowcode'].unique())):
  my_dict[df['knowcode'].unique()[i]] = i

In [64]:
def target_to_label(text:str):
  return my_dict[text]

df['target_label'] = df['knowcode'].map(target_to_label)

In [65]:
dataset_train, dataset_test = train_test_split(df[['idx', 'text', 'target_label']], test_size=0.2, random_state=42, shuffle=True)
dataset_train.to_csv('dataset_train.txt', index=False, header=True, sep='\t', encoding='utf8')
dataset_test.to_csv('dataset_test.txt', index=False, header=True, sep='\t', encoding='utf8')

In [66]:
dataset_train = nlp.data.TSVDataset('/content/dataset_train.txt', field_indices=[1,2], num_discard_samples=1)
dataset_test = nlp.data.TSVDataset('/content/dataset_test.txt', field_indices=[1,2], num_discard_samples=1)

In [67]:
tokenizer = get_tokenizer()
tok = nlp.data.BERTSPTokenizer(tokenizer, vocab, lower=False)

using cached model. /content/.cache/kobert_news_wiki_ko_cased-1087f8699e.spiece

In [68]:
class BERTDataset(Dataset):
    def __init__(self, dataset, sent_idx, label_idx, bert_tokenizer, max_len,
                 pad, pair):
        transform = nlp.data.BERTSentenceTransform(
            bert_tokenizer, max_seq_length=max_len, pad=pad, pair=pair)

        self.sentences = [transform([i[sent_idx]]) for i in dataset]
        self.labels = [np.int32(i[label_idx]) for i in dataset]

    def __getitem__(self, i):
        return (self.sentences[i] + (self.labels[i], ))

    def __len__(self):
        return (len(self.labels))

In [69]:
## Setting parameters
max_len = 128
batch_size = 8
warmup_ratio = 0.1
num_epochs = 100
max_grad_norm = 1
log_interval = 200
learning_rate =  5e-5

In [70]:
data_train = BERTDataset(dataset_train, 0, 1, tok, max_len, True, False)
data_test = BERTDataset(dataset_test, 0, 1, tok, max_len, True, False)

In [71]:
next(iter(data_train))

(array([   2, 1375, 3969, 7601, 5546, 6228, 5330, 2486, 7798,  517,   54,
        2641, 7063, 7921, 7086, 4033,  517,   46, 1071, 2184, 1289, 2724,
        6873,  517,   54, 1225, 6879, 3574, 7921, 7086, 4106, 5564, 2184,
        2642, 5564,  522, 1023, 5577, 4864,  517,   40,  517,   54, 1225,
        6879, 1179, 5760,  611, 6204,  517,  463,  517,  171, 6204,  517,
          54, 5184, 5563, 7086, 4919, 6881, 5782,  517,   54, 3264, 5678,
        7003, 1182, 6575, 2415, 7191, 6035, 7100,  517,   54, 1375, 3264,
        5477, 2872, 7488, 7088, 4004, 2234, 3152,  517,   54, 4348, 5342,
        7086, 2609, 7276,  525, 2658, 6493, 6897, 2225,  517,   54, 1375,
        3264,  872, 5330,  742,  517,   54, 1225, 6706, 5468, 3962, 5760,
        4222, 2415, 3969, 6035, 6896, 3643, 4092, 7848, 7345,  517,   54,
        3936, 5859, 5495, 5760, 4222, 2609,    3], dtype=int32),
 array(128, dtype=int32),
 array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int32),
 76)

In [72]:
train_dataloader = torch.utils.data.DataLoader(data_train, batch_size=batch_size, num_workers=4)
test_dataloader = torch.utils.data.DataLoader(data_test, batch_size=batch_size, num_workers=4)

In [73]:
len(df['target_label'].unique())

585

In [74]:
class BERTClassifier(nn.Module):
    def __init__(self,
                 bert,
                 hidden_size = 768,
                 num_classes=585,
                 dr_rate=None,
                 params=None):
        super(BERTClassifier, self).__init__()
        self.bert = bert
        self.dr_rate = dr_rate
                 
        self.classifier = nn.Linear(hidden_size , num_classes)
        if dr_rate:
            self.dropout = nn.Dropout(p=dr_rate)
    
    def gen_attention_mask(self, token_ids, valid_length):
        attention_mask = torch.zeros_like(token_ids)
        for i, v in enumerate(valid_length):
            attention_mask[i][:v] = 1
        return attention_mask.float()

    def forward(self, token_ids, valid_length, segment_ids):
        attention_mask = self.gen_attention_mask(token_ids, valid_length)
        
        _, pooler = self.bert(input_ids = token_ids, token_type_ids = segment_ids.long(), attention_mask = attention_mask.float().to(token_ids.device))
        if self.dr_rate:
            out = self.dropout(pooler)
        return self.classifier(out)

In [75]:
model = BERTClassifier(bertmodel,  dr_rate=0.5).to(device)

In [76]:
# Prepare optimizer and schedule (linear warmup and decay)
no_decay = ['bias', 'LayerNorm.weight']
optimizer_grouped_parameters = [
    {'params': [p for n, p in model.named_parameters() if not any(nd in n for nd in no_decay)], 'weight_decay': 0.01},
    {'params': [p for n, p in model.named_parameters() if any(nd in n for nd in no_decay)], 'weight_decay': 0.0}
]

In [77]:
optimizer = AdamW(optimizer_grouped_parameters, lr=learning_rate)
loss_fn = nn.CrossEntropyLoss()

In [78]:
t_total = len(train_dataloader) * num_epochs
warmup_step = int(t_total * warmup_ratio)

In [79]:
scheduler = get_cosine_schedule_with_warmup(optimizer, num_warmup_steps=warmup_step, num_training_steps=t_total)

In [80]:
def calc_accuracy(X,Y):
    max_vals, max_indices = torch.max(X, 1)
    train_acc = (max_indices == Y).sum().data.cpu().numpy()/max_indices.size()[0]
    return train_acc

In [ ]:
train = []
test = []
for e in range(num_epochs):
    train_acc = 0.0
    test_acc = 0.0
    model.train()
    for batch_id, (token_ids, valid_length, segment_ids, label) in tqdm(enumerate(train_dataloader), total=len(train_dataloader)):
        optimizer.zero_grad()
        token_ids = token_ids.long().to(device)
        segment_ids = segment_ids.long().to(device)
        valid_length= valid_length
        label = label.long().to(device)
        out = model(token_ids, valid_length, segment_ids)
        loss = loss_fn(out, label)
        loss.backward()
        torch.nn.utils.clip_grad_norm_(model.parameters(), max_grad_norm)
        optimizer.step()
        scheduler.step()  # Update learning rate schedule
        train_acc += calc_accuracy(out, label)
        if batch_id % log_interval == 0:
            print("epoch {} batch id {} loss {} train acc {}".format(e+1, batch_id+1, loss.data.cpu().numpy(), train_acc / (batch_id+1)))
    print("epoch {} train acc {}".format(e+1, train_acc / (batch_id+1)))
    train.append(train_acc / (batch_id+1))
    model.eval()
    for batch_id, (token_ids, valid_length, segment_ids, label) in tqdm(enumerate(test_dataloader), total=len(test_dataloader)):
        token_ids = token_ids.long().to(device)
        segment_ids = segment_ids.long().to(device)
        valid_length= valid_length
        label = label.long().to(device)
        out = model(token_ids, valid_length, segment_ids)
        test_acc += calc_accuracy(out, label)
    print("epoch {} test acc {}".format(e+1, test_acc / (batch_id+1)))
    test.append(test_acc / (batch_id+1))
    # torch.cuda.empty_cache()

  0%|          | 0/3524 [00:00<?, ?it/s]

epoch 1 batch id 1 loss 6.445605278015137 train acc 0.0
epoch 1 batch id 201 loss 6.493104457855225 train acc 0.003109452736318408
epoch 1 batch id 401 loss 6.349127769470215 train acc 0.0021820448877805485
epoch 1 batch id 601 loss 6.315550327301025 train acc 0.0027038269550748754
epoch 1 batch id 801 loss 6.346110820770264 train acc 0.0023408239700374533

In [ ]:
torch.save(model, '/content/gdrive/MyDrive/know/model3.pt')

In [ ]:
model = torch.load('/content/gdrive/MyDrive/know/model3.pt')

## 2017 텍스트 데이터 전처리

In [ ]:
def bq1_to_text(num:int):
  if num == 1:
    return '산업유형은 농업, 임업, 어업.'
  elif num == 2:
    return '산업유형은 광업.'
  elif num == 3:
    return '산업유형은 제조업.'
  elif num == 4:
    return '산업유형은 전기, 가스, 증기 및 공기조절 공급업.'
  elif num == 5:
    return '산업유형은 수도·하수·폐기물 처리, 원료재생업.'
  elif num == 6:
    return '산업유형은 건설업.'
  elif num == 7:
    return '산업유형은 도매 및 소매업.'
  elif num == 8:
    return '산업유형은 운수 및 창고업.'
  elif num == 9:
    return '산업유형은 숙박 및 음식점업.'
  elif num == 10:
    return '산업유형은 정보통신업.'
  elif num == 11:
    return '산업유형은 금융 및 보험업.'
  elif num == 12:
    return '산업유형은 부동산업.'
  elif num == 13:
    return '산업유형은 전문, 과학 및 기술 서비스업.'
  elif num == 14:
    return '산업유형은 사업시설 관리, 사업지원 및 임대 서비스업.'
  elif num == 15:
    return '산업유형은 공공행정, 국방 및 사회보장 행정.'
  elif num == 16:
    return '산업유형은 교육 서비스업.'
  elif num == 17:
    return '산업유형은 보건업 및 사회복지 서비스업.'
  elif num == 18:
    return '산업유형은 예술, 스포츠 및 여가관련 서비스업.'
  elif num == 19:
    return '산업유형은 협회 및 단체, 수리 및 기타 개인 서비스업.'
  elif num == 20:
    return '산업유형은 가구내 고용활동 및 달리 분류되지 않은 자가소비 생산활동.'
  elif num == 21:
    return '산업유형은 국제 및 외국기관.'

test1['bq1'] = test1['bq1'].map(bq1_to_text)

In [ ]:
def bq2_to_text(num:int):
  if num == 1:
    return '근무업체 유형은 민간회사 또는 개인사업체(외국인회사 포함).'
  elif num == 2:
    return '근무업체 유형은 정부기관 및 산하기관(공기업 포함).'
  elif num == 3:
    return '근무업체 유형은 (재단, 사단)법인단체.'
  elif num == 4:
    return '근무업체 유형은 특정회사나 사업체에 소속되어 있지 않음 (자영업 포함).'
  elif num == 5:
    return '근무업체 유형은 학교법인 혹은 학원.'
  elif num == 6:
    return '근무업체 유형은 기타.'

test1['bq2'] = test1['bq2'].map(bq2_to_text)

In [ ]:
def bq3_to_text(num:int):
  if num == 1:
    return '근무업체 규모는 1명 ~ 4명.'
  elif num == 2:
    return '근무업체 규모는 5명 ~ 49명.'
  elif num == 3:
    return '근무업체 규모는 50명 ~ 99명.'
  elif num == 4:
    return '근무업체 규모는 100명 ~299명.'
  elif num == 5:
    return '근무업체 규모는 300명 ~ 999명.'
  elif num == 6:
    return '근무업체 규모는 1,000명 이상.'

test1['bq3'] = test1['bq3'].map(bq3_to_text)

In [ ]:
def bq5_1_to_text(num:int):
  try :
    num = int(num)
    if num == 1:
      return '훈련기간은 1개월 미만.'
    elif num == 2:
      return '훈련기간은 1개월 이상~3개월 미만.'
    elif num == 3:
      return '훈련기간은 3개월 이상~6개월 미만.'
    elif num == 4:
      return '훈련기간은 6개월 이상~1년 미만.'
    elif num == 5:
      return '훈련기간은 1년 이상~2년 미만.'
    elif num == 6:
      return '훈련기간은 2년 이상.'
  except :
    return '훈련기간은 필요없다.'

test1['bq5_1'] = test1['bq5_1'].map(bq5_1_to_text)

In [ ]:
def bq6_to_text(num:int):
  if num == 1:
    return '관련된 업무경험은 1개월 미만.'
  elif num == 2:
    return '관련된 업무경험은 1개월 이상~3개월 미만.'
  elif num == 3:
    return '관련된 업무경험은 3개월 이상~6개월 미만.'
  elif num == 4:
    return '관련된 업무경험은 6개월 이상~1년 미만.'
  elif num == 5:
    return '관련된 업무경험은 1년 이상~2년 미만.'
  elif num == 6:
    return '관련된 업무경험은 2년 이상.'
  elif num == 7:
    return '이전 업무경험 필요없음.'

test1['bq6'] = test1['bq6'].map(bq6_to_text)

In [ ]:
def bq7_to_text(num:int):
  if num == 1:
    return '업무 수행 교육수준은 중학교 졸업 이하.'
  elif num == 2:
    return '업무 수행 교육수준은 고등학교 졸업.'
  elif num == 3:
    return '업무 수행 교육수준은 고등학교 졸업 후 직업교육(6개월 이상) 이수.'
  elif num == 4:
    return '업무 수행 교육수준은 전문대학교 졸업.'
  elif num == 5:
    return '업무 수행 교육수준은 대학교 졸업.'
  elif num == 6:
    return '업무 수행 교육수준은 대학원 석사 졸업.'
  elif num == 7:
    return '업무 수행 교육수준은 대학원 박사 졸업.'

test1['bq7'] = test1['bq7'].map(bq7_to_text)

In [ ]:
def bq17_to_text(num:int):
  if num == 1:
    return '업무성과 극대화 연령대은 20대 이하.'
  elif num == 2:
    return '업무성과 극대화 연령대은 30대.'
  elif num == 3:
    return '업무성과 극대화 연령대은 40대.'
  elif num == 4:
    return '업무성과 극대화 연령대은 50대.'
  elif num == 5:
    return '업무성과 극대화 연령대은 60대 이상.'

test1['bq17'] = test1['bq17'].map(bq17_to_text)

In [ ]:
def bq23_to_text(num:int):
  return '기술적 변화요인으로 인한 업무 대체 비율은 ' + str(num) + '%.'

test1['bq23'] = test1['bq23'].map(bq23_to_text)

In [ ]:
def bq36_to_text(num:int):
  if num == 1:
    return '나의 성별은 남성이다.'
  elif num == 2:
    return '나의 성별은 여성이다.'

test1['bq36'] = test1['bq36'].map(bq36_to_text)

In [ ]:
def bq37_to_text(num:int):
  return '나의 나이는 ' + str(num) + '살이다.'

test1['bq37'] = test1['bq37'].map(bq37_to_text)

In [ ]:
def bq38_to_text(num:int):
  if num == 1:
    return '나의 최종학력은 중학교 졸업 이하이다.'
  elif num == 2:
    return '나의 최종학력은 고등학교 졸업이다.'
  elif num == 3:
    return '나의 최종학력은 2~3년제 대학교 졸업이다.'
  elif num == 4:
    return '나의 최종학력은 대학교 졸업이다.'
  elif num == 5:
    return '나의 최종학력은 대학원 석사 졸업이다.'
  elif num == 6:
    return '나의 최종학력은 대학원 박사 졸업이다.'

test1['bq38'] = test1['bq38'].map(bq38_to_text)

In [ ]:
def bq40_to_text(num:int):
  try:
    num = int(num)
    if num == 1:
      return '나의 계약형태는 정규직이다.'
    elif num == 2:
      return '나의 계약형태는 비정규직이다.'
  except:
    return '나의 계약형태는 알 수 없다.'

test1['bq40'] = test1['bq40'].map(bq40_to_text)

In [ ]:
def bq41_1_to_text(num:int):
  try:
    num = int(num)
    return '나의 근로소득은 ' + str(num) + '만원이다.'
  except:
    return '나의 근로소득은 알 수 없다.'

test1['bq41_1'] = test1['bq41_1'].map(bq41_1_to_text)

In [ ]:
def bq41_2_to_text(num:int):
  try:
    num = int(num)
    return '나의 초임임금은 ' + str(num) + '만원이다.'
  except:
    return '나의 초임임금은 알 수 없다.'

test1['bq41_2'] = test1['bq41_2'].map(bq41_2_to_text)

In [ ]:
def bq41_3_to_text(num:int):
  try:
    num = int(num)
    return '나의 순수입은 ' + str(num) + '만원이다.'
  except:
    return '나의 순수입은 알 수 없다.'

test1['bq41_3'] = test1['bq41_3'].map(bq41_3_to_text)

In [ ]:
test1.head()

## 2018 텍스트 데이터 전처리

In [ ]:
def cq48_to_text(num:int):
  if num == 1:
    return '나는 재택근무가 불가능하다.'
  elif num == 2:
    return '나는 재택근무가 가능하다.'

test2['cq48'] = test2['cq48'].map(cq48_to_text)

In [ ]:
def bq1_to_text(num:int):
  if num == 1:
    return '산업유형은 농업, 임업, 어업.'
  elif num == 2:
    return '산업유형은 광업.'
  elif num == 3:
    return '산업유형은 제조업.'
  elif num == 4:
    return '산업유형은 전기, 가스, 증기 및 공기조절 공급업.'
  elif num == 5:
    return '산업유형은 수도·하수·폐기물 처리, 원료재생업.'
  elif num == 6:
    return '산업유형은 건설업.'
  elif num == 7:
    return '산업유형은 도매 및 소매업.'
  elif num == 8:
    return '산업유형은 운수 및 창고업.'
  elif num == 9:
    return '산업유형은 숙박 및 음식점업.'
  elif num == 10:
    return '산업유형은 정보통신업.'
  elif num == 11:
    return '산업유형은 금융 및 보험업.'
  elif num == 12:
    return '산업유형은 부동산업.'
  elif num == 13:
    return '산업유형은 전문, 과학 및 기술 서비스업.'
  elif num == 14:
    return '산업유형은 사업시설 관리, 사업지원 및 임대 서비스업.'
  elif num == 15:
    return '산업유형은 공공행정, 국방 및 사회보장 행정.'
  elif num == 16:
    return '산업유형은 교육 서비스업.'
  elif num == 17:
    return '산업유형은 보건업 및 사회복지 서비스업.'
  elif num == 18:
    return '산업유형은 예술, 스포츠 및 여가관련 서비스업.'
  elif num == 19:
    return '산업유형은 협회 및 단체, 수리 및 기타 개인 서비스업.'
  elif num == 20:
    return '산업유형은 가구내 고용활동 및 달리 분류되지 않은 자가소비 생산활동.'
  elif num == 21:
    return '산업유형은 국제 및 외국기관.'

test2['bq1'] = test2['bq1'].map(bq1_to_text)

In [ ]:
def bq2_to_text(num:int):
  if num == 1:
    return '근무업체 유형은 민간회사 또는 개인사업체(외국인회사 포함).'
  elif num == 2:
    return '근무업체 유형은 정부기관 및 산하기관(공기업 포함).'
  elif num == 3:
    return '근무업체 유형은 (재단, 사단)법인단체.'
  elif num == 4:
    return '근무업체 유형은 특정회사나 사업체에 소속되어 있지 않음 (자영업 포함).'
  elif num == 5:
    return '근무업체 유형은 학교법인 혹은 학원.'
  elif num == 6:
    return '근무업체 유형은 기타.'

test2['bq2'] = test2['bq2'].map(bq2_to_text)

In [ ]:
def bq3_to_text(num:int):
  if num == 1:
    return '근무업체 규모는 1명 ~ 4명.'
  elif num == 2:
    return '근무업체 규모는 5명 ~ 49명.'
  elif num == 3:
    return '근무업체 규모는 50명 ~ 99명.'
  elif num == 4:
    return '근무업체 규모는 100명 ~299명.'
  elif num == 5:
    return '근무업체 규모는 300명 ~ 999명.'
  elif num == 6:
    return '근무업체 규모는 1,000명 이상.'

test2['bq3'] = test2['bq3'].map(bq3_to_text)

In [ ]:
def bq5_1_to_text(num:int):
  try :
    num = int(num)
    if num == 1:
      return '훈련기간은 1개월 미만.'
    elif num == 2:
      return '훈련기간은 1개월 이상~3개월 미만.'
    elif num == 3:
      return '훈련기간은 3개월 이상~6개월 미만.'
    elif num == 4:
      return '훈련기간은 6개월 이상~1년 미만.'
    elif num == 5:
      return '훈련기간은 1년 이상~2년 미만.'
    elif num == 6:
      return '훈련기간은 2년 이상.'
  except :
    return '훈련기간은 필요없다.'

test2['bq5_1'] = test2['bq5_1'].map(bq5_1_to_text)

In [ ]:
def bq13_to_text(num:int):
  if num == 1:
    return '업무내용 규정성은 사업주/상사에게 있다.'
  elif num == 2:
    return '업무내용 규정성은 고객에게 있다.'
  elif num == 3:
    return '업무내용 규정성은 본인재량이다.'

test2['bq13'] = test2['bq13'].map(bq13_to_text)

In [ ]:
def bq14_to_text(num:int):
  if num == 1:
    return '나는 업무관련 수칙을 적용 받는다.'
  elif num == 2:
    return '나는 업무관련 수칙을 적용 받지 않는다.'

test2['bq14'] = test2['bq14'].map(bq14_to_text)

In [ ]:
def bq15_to_text(num:int):
  if num == 1:
    return '지휘감독은 사업주/상사에게 받는다.'
  elif num == 2:
    return '지휘감독은 지점/대리점의 점장이나 소장에게 받는다.'
  elif num == 3:
    return '지휘감독은 고객에게 받는다.'
  elif num == 4:
    return '지휘감독을 받지 않는다.'

test2['bq15'] = test2['bq15'].map(bq15_to_text)

In [ ]:
def bq16_to_text(num:int):
  if num == 1:
    return '나는 업무 거부가 가능하다.'
  elif num == 2:
    return '나는 업무 거부가 불가능하다.'

test2['bq16'] = test2['bq16'].map(bq16_to_text)

In [ ]:
def bq17_to_text(num:int):
  if num == 1:
    return '근무시간과 장소는 주로 사업주/상사에 의해 정해진다.'
  elif num == 2:
    return '근무시간과 장소는 주로 고객에 의해 정해진다.'
  elif num == 3:
    return '근무시간과 장소는 주로 본인 재량에 의해 정해진다.'

test2['bq17'] = test2['bq17'].map(bq17_to_text)

In [ ]:
def bq18_to_text(num:int):
  if num == 1:
    return '작업도구는 주로 사업주/상사 소유다.'
  elif num == 2:
    return '작업도구는 사업주와 본인이 반반 소유한다.'
  elif num == 3:
    return '작업도구는 주로 본인이 소유한다.'

test2['bq18'] = test2['bq18'].map(bq18_to_text)

In [ ]:
def bq21_to_text(num:int):
  return '나의 보수 중 고정급은 ' + str(num) + '%이다.'

test2['bq21'] = test2['bq21'].map(bq21_to_text)

In [ ]:
def bq27_to_text(num:int):
  if num == 1:
    return '나는 플랫폼 중개로 일거리를 얻는다.'
  elif num == 2:
    return '나는 플랫폼 중개로 일거리를 얻지 않는다.'

test2['bq27'] = test2['bq27'].map(bq27_to_text)

In [ ]:
test2.head()

## 2019 텍스트 데이터 전처리

In [ ]:
def bq1_to_text(num:int):
  if num == 1:
    return '산업유형은 농업, 임업, 어업.'
  elif num == 2:
    return '산업유형은 광업.'
  elif num == 3:
    return '산업유형은 제조업.'
  elif num == 4:
    return '산업유형은 전기, 가스, 증기 및 공기조절 공급업.'
  elif num == 5:
    return '산업유형은 수도·하수·폐기물 처리, 원료재생업.'
  elif num == 6:
    return '산업유형은 건설업.'
  elif num == 7:
    return '산업유형은 도매 및 소매업.'
  elif num == 8:
    return '산업유형은 운수 및 창고업.'
  elif num == 9:
    return '산업유형은 숙박 및 음식점업.'
  elif num == 10:
    return '산업유형은 정보통신업.'
  elif num == 11:
    return '산업유형은 금융 및 보험업.'
  elif num == 12:
    return '산업유형은 부동산업.'
  elif num == 13:
    return '산업유형은 전문, 과학 및 기술 서비스업.'
  elif num == 14:
    return '산업유형은 사업시설 관리, 사업지원 및 임대 서비스업.'
  elif num == 15:
    return '산업유형은 공공행정, 국방 및 사회보장 행정.'
  elif num == 16:
    return '산업유형은 교육 서비스업.'
  elif num == 17:
    return '산업유형은 보건업 및 사회복지 서비스업.'
  elif num == 18:
    return '산업유형은 예술, 스포츠 및 여가관련 서비스업.'
  elif num == 19:
    return '산업유형은 협회 및 단체, 수리 및 기타 개인 서비스업.'
  elif num == 20:
    return '산업유형은 가구내 고용활동 및 달리 분류되지 않은 자가소비 생산활동.'
  elif num == 21:
    return '산업유형은 국제 및 외국기관.'

test3['bq1'] = test3['bq1'].map(bq1_to_text)

In [ ]:
def bq2_to_text(num:int):
  if num == 1:
    return '근무업체 유형은 민간회사 또는 개인사업체(외국인회사 포함).'
  elif num == 2:
    return '근무업체 유형은 정부기관 및 산하기관(공기업 포함).'
  elif num == 3:
    return '근무업체 유형은 (재단, 사단)법인단체.'
  elif num == 4:
    return '근무업체 유형은 특정회사나 사업체에 소속되어 있지 않음 (자영업 포함).'
  elif num == 5:
    return '근무업체 유형은 학교법인 혹은 학원.'
  elif num == 6:
    return '근무업체 유형은 기타.'

test3['bq2'] = test3['bq2'].map(bq2_to_text)

In [ ]:
def bq3_to_text(num:int):
  if num == 1:
    return '근무업체 규모는 1명 ~ 4명.'
  elif num == 2:
    return '근무업체 규모는 5명 ~ 49명.'
  elif num == 3:
    return '근무업체 규모는 50명 ~ 99명.'
  elif num == 4:
    return '근무업체 규모는 100명 ~299명.'
  elif num == 5:
    return '근무업체 규모는 300명 ~ 999명.'
  elif num == 6:
    return '근무업체 규모는 1,000명 이상.'

test3['bq3'] = test3['bq3'].map(bq3_to_text)

In [ ]:
def bq5_1_to_text(num:int):
  try :
    num = int(num)
    if num == 1:
      return '훈련기간은 1개월 미만.'
    elif num == 2:
      return '훈련기간은 1개월 이상~3개월 미만.'
    elif num == 3:
      return '훈련기간은 3개월 이상~6개월 미만.'
    elif num == 4:
      return '훈련기간은 6개월 이상~1년 미만.'
    elif num == 5:
      return '훈련기간은 1년 이상~2년 미만.'
    elif num == 6:
      return '훈련기간은 2년 이상.'
  except :
    return '훈련기간은 필요없다.'

test3['bq5_1'] = test3['bq5_1'].map(bq5_1_to_text)

In [ ]:
test3.head()

## 2020년 텍스트 데이터 전처리

In [ ]:
test4['bq1'] = test4['bq1'].map(bq1_to_text)

In [ ]:
test4['bq2'] = test4['bq2'].map(bq2_to_text)

In [ ]:
test4['bq3'] = test4['bq3'].map(bq3_to_text)

In [ ]:
test4['bq5_1'] = test4['bq5_1'].map(bq5_1_to_text)

In [ ]:
def bq6_to_text(num:int):
  if num == 1:
    return '관련된 업무 경험은 1개월 미만.'
  elif num == 2:
    return '관련된 업무 경험은 1개월 이상~3개월 미만.'
  elif num == 3:
    return '관련된 업무 경험은 3개월 이상~6개월 미만.'
  elif num == 4:
    return '관련된 업무 경험은 6개월 이상~1년 미만.'
  elif num == 5:
    return '관련된 업무 경험은 1년 이상~2년 미만.'
  elif num == 6:
    return '관련된 업무 경험은 2년 이상.'
  elif num == 7:
    return '관련된 업무 경험은 필요없음.'

test4['bq6'] = test4['bq6'].map(bq6_to_text)

In [ ]:
def bq7_to_text(num:int):
  if num == 1:
    return '업무 수행 교육수준은 중학교 졸업 이하.'
  elif num == 2:
    return '업무 수행 교육수준은 고등학교 졸업.'
  elif num == 3:
    return '업무 수행 교육수준은 고등학교 졸업 후 직업교육(6개월 이상) 이수.'
  elif num == 4:
    return '업무 수행 교육수준은 전문대학교 졸업.'
  elif num == 5:
    return '업무 수행 교육수준은 대학교 졸업.'
  elif num == 6:
    return '업무 수행 교육수준은 대학원 석사 졸업.'
  elif num == 7:
    return '업무 수행 교육수준은 대학원 박사 졸업.'

test4['bq7'] = test4['bq7'].map(bq7_to_text)

In [ ]:
def bq24_to_text(num:int):
  if num == 1:
    return '나의 성별은 남성이다.'
  elif num == 2:
    return '나의 성별은 여성이다.'

test4['bq24'] = test4['bq24'].map(bq24_to_text)

In [ ]:
def bq25_to_text(num:int):
  return '나의 나이는 ' + str(num) + '살이다.'

test4['bq25'] = test4['bq25'].map(bq25_to_text)

In [ ]:
def bq26_to_text(num:int):
  if num == 1:
    return '나의 최종학력은 중학교 졸업 이하이다.'
  elif num == 2:
    return '나의 최종학력은 고등학교 졸업이다.'
  elif num == 3:
    return '나의 최종학력은 2~3년제 대학교 졸업이다.'
  elif num == 4:
    return '나의 최종학력은 대학교 졸업이다.'
  elif num == 5:
    return '나의 최종학력은 대학원 석사 졸업이다.'
  elif num == 6:
    return '나의 최종학력은 대학원 박사 졸업이다.'

test4['bq26'] = test4['bq26'].map(bq26_to_text)

In [ ]:
def bq28_to_text(num:int):
  try:
    num = int(num)
    if num == 1:
      return '나의 계약형태는 정규직이다.'
    elif num == 2:
      return '나의 계약형태는 비정규직이다.'
  except:
    return '나의 계약형태는 알 수 없다.'

test4['bq28'] = test4['bq28'].map(bq28_to_text)

In [ ]:
def bq29_to_text(num:int):
  return '주당 근로시간은 ' + str(num) + '시간이다.'

test4['bq29'] = test4['bq29'].map(bq29_to_text)

In [ ]:
def bq30_1_to_text(num:int):
  try:
    num = int(num)
    return '나의 근로소득은 ' + str(num) + '만원이다.'
  except:
    return '나의 근로소득은 알 수 없다.'

test4['bq30_1'] = test4['bq30_1'].map(bq30_1_to_text)

In [ ]:
def bq30_2_to_text(num:int):
  try:
    num = int(num)
    return '나의 초임임금은 ' + str(num) + '만원이다.'
  except:
    return '나의 초임임금은 알 수 없다.'

test4['bq30_2'] = test4['bq30_2'].map(bq30_2_to_text)

In [ ]:
def bq30_3_to_text(num:int):
  try:
    num = int(num)
    return '나의 순수입은 ' + str(num) + '만원이다.'
  except:
    return '나의 순수입은 알 수 없다.'

test4['bq30_3'] = test4['bq30_3'].map(bq30_3_to_text)

In [ ]:
test4.head()

In [ ]:
#bq4_1a, bq4_1b, bq4_1c, bq5_2, bq19_1, bq30, bq31, bq32, bq33, bq34, bq38_1
#bq1, bq2, bq3, bq5_1, bq6, bq7, bq17, bq23, bq36, bq37, bq38, bq40, bq41_1, bq41_2, bq41_3

cols = ['bq1', 'bq2', 'bq3', 'bq5_1', 'bq6', 'bq7', 'bq17', 'bq23', 'bq36', 'bq37', 'bq38', 'bq40', 'bq41_1', 'bq41_2', 'bq41_3',
        'bq4_1a', 'bq4_1b', 'bq4_1c', 'bq5_2', 'bq19_1', 'bq30', 'bq31', 'bq32', 'bq33', 'bq34', 'bq38_1']

def null_to_no(text : str):
  if text == ' ':
    return '없다'
  else:
    return text

for col in cols:
  test1[col] = test1[col].map(null_to_no)

test1['bq4_1a'] = '요구자격증은 ' + test1['bq4_1a'].astype(str) + '이다.'
test1['bq4_1b'] = '요구자격증은 ' + test1['bq4_1b'].astype(str) + '이다.'
test1['bq4_1c'] = '요구자격증은 ' + test1['bq4_1c'].astype(str) + '이다.'
test1['bq5_2'] = '요구훈련종류는 ' + test1['bq5_2'].astype(str) + '이다.'
test1['bq19_1'] = '향후 일자리 변화 이유는 ' + test1['bq19_1'].astype(str) + '이다.'
test1['bq30'] = '유사직업명은 ' + test1['bq30'].astype(str) + '이다.'
test1['bq31'] = '사용도구 및 프로그램은 ' + test1['bq31'].astype(str) + '이다.'
test1['bq32'] = '이전직업은 ' + test1['bq32'].astype(str) + '이다.'
test1['bq33'] = '전직 가능 직업은 ' + test1['bq33'].astype(str) + '이다.'
test1['bq34'] = '신직업 발굴은 ' + test1['bq34'].astype(str) + '이다.'
test1['bq38_1'] = '나의 전공은 ' + test1['bq38_1'].astype(str) + '이다.'

temp = ''
for col in cols:
  temp += test1[col]
  temp += ' '

test1['text'] = temp

In [ ]:
# bq4_1a, bq4_1b, bq4_1c, bq5_2, bq28_1,	bq29,	bq30,	bq31,	bq32, bq33, bq37_1
# cq48, bq1, bq2, bq3, bq5_1, bq13, bq14, bq15, bq16, bq17, bq18, bq21, bq27

cols = ['cq48', 'bq1', 'bq2', 'bq3', 'bq5_1', 'bq13', 'bq14', 'bq15', 'bq16', 'bq17', 'bq18', 'bq21', 'bq27',
        'bq4_1a', 'bq4_1b', 'bq4_1c', 'bq5_2', 'bq28_1',	'bq29',	'bq30',	'bq31',	'bq32', 'bq33', 'bq37_1']

def null_to_no(text : str):
  if text == ' ':
    return '없다'
  else:
    return text

for col in cols:
  test2[col] = test2[col].map(null_to_no)

test2['bq4_1a'] = '요구자격증은 ' + test2['bq4_1a'].astype(str) + '이다.'
test2['bq4_1b'] = '요구자격증은 ' + test2['bq4_1b'].astype(str) + '이다.'
test2['bq4_1c'] = '요구자격증은 ' + test2['bq4_1c'].astype(str) + '이다.'
test2['bq5_2'] = '요구훈련종류는 ' + test2['bq5_2'].astype(str) + '이다.'
test2['bq28_1'] = '향후 일자리 변화 이유는 ' + test2['bq28_1'].astype(str) + '이다.'
test2['bq29'] = '유사직업명은 ' + test2['bq29'].astype(str) + '이다.'
test2['bq30'] = '사용도구 및 프로그램은 ' + test2['bq30'].astype(str) + '이다.'
test2['bq31'] = '이전직업은 ' + test2['bq31'].astype(str) + '이다.'
test2['bq32'] = '전직 가능 직업은 ' + test2['bq32'].astype(str) + '이다.'
test2['bq33'] = '신직업 발굴은 ' + test2['bq33'].astype(str) + '이다.'
test2['bq37_1'] = '나의 전공은 ' + test2['bq37_1'].astype(str) + '이다.'

temp = ''
for col in cols:
  temp += test2[col]
  temp += ' '

test2['text'] = temp

In [ ]:
# bq4_1a, bq4_1b, bq4_1c, bq5_2, bq18_10,	bq20_1, bq22,	bq23,	bq24, bq27_1
# bq1, bq2, bq3, bq5_1

cols = ['bq1', 'bq2', 'bq3', 'bq5_1',
        'bq4_1a', 'bq4_1b', 'bq4_1c', 'bq5_2', 'bq18_10',	'bq20_1', 'bq22',	'bq23',	'bq24', 'bq27_1']

def null_to_no(text : str):
  if text == ' ':
    return '없다'
  else:
    return text

for col in cols:
  test3[col] = test3[col].map(null_to_no)

test3['bq4_1a'] = '요구자격증은 ' + test3['bq4_1a'].astype(str) + '이다.'
test3['bq4_1b'] = '요구자격증은 ' + test3['bq4_1b'].astype(str) + '이다.'
test3['bq4_1c'] = '요구자격증은 ' + test3['bq4_1c'].astype(str) + '이다.'
test3['bq5_2'] = '요구훈련종류는 ' + test3['bq5_2'].astype(str) + '이다.'
test3['bq18_10'] = '향후 일자리 변화 관련 예시는 ' + test3['bq18_10'].astype(str) + '이다.'
test3['bq20_1'] = '향후 일자리 변화 이유는 ' + test3['bq20_1'].astype(str) + '이다.'
test3['bq22'] = '이전직업은 ' + test3['bq22'].astype(str) + '이다.'
test3['bq23'] = '전직 가능 직업은 ' + test3['bq23'].astype(str) + '이다.'
test3['bq24'] = '신직업 발굴은 ' + test3['bq24'].astype(str) + '이다.'
test3['bq27_1'] = '나의 전공은 ' + test3['bq27_1'].astype(str) + '이다.'

temp = ''
for col in cols:
  temp += test3[col]
  temp += ' '

test3['text'] = temp

In [ ]:
# bq4_1a, bq4_1b, bq4_1c, bq5_2, bq18_10, bq20_1, bq26_1
# bq1, bq2, bq3, bq5_1, bq6, bq7, bq24, bq25, bq26, bq28, bq29, bq30_1, bq30_2, bq30_3

cols = ['bq1', 'bq2', 'bq3', 'bq5_1', 'bq6', 'bq7', 'bq24', 'bq25', 'bq26', 'bq28', 'bq29', 'bq30_1', 'bq30_2', 'bq30_3',
        'bq4_1a', 'bq4_1b', 'bq4_1c', 'bq5_2', 'bq18_10', 'bq20_1', 'bq26_1']

def null_to_no(text : str):
  if text == ' ':
    return '없다'
  else:
    return text

for col in cols:
  test4[col] = test4[col].map(null_to_no)

test4['bq4_1a'] = '요구자격증은 ' + test4['bq4_1a'].astype(str) + '이다.'
test4['bq4_1b'] = '요구자격증은 ' + test4['bq4_1b'].astype(str) + '이다.'
test4['bq4_1c'] = '요구자격증은 ' + test4['bq4_1c'].astype(str) + '이다.'
test4['bq5_2'] = '요구훈련종류는 ' + test4['bq5_2'].astype(str) + '이다.'
test4['bq18_10'] = '향후 일자리 변화 관련 예시는 ' + test4['bq18_10'].astype(str) + '이다.'
test4['bq20_1'] = '향후 일자리 변화 이유는 ' + test4['bq20_1'].astype(str) + '이다.'
test4['bq26_1'] = '나의 전공은 ' + test4['bq26_1'].astype(str) + '이다.'

temp = ''
for col in cols:
  temp += test4[col]
  temp += ' '

test4['text'] = temp

In [ ]:
df = pd.concat([test1[['idx', 'text']], test2[['idx', 'text']], test3[['idx', 'text']], test4[['idx', 'text']]], axis=0)
df = df.reset_index(drop=True)
df

In [ ]:
def remove_ddaom(text:str):
  return str(text).replace('"', '')

df['text'] = df['text'].map(remove_ddaom)

def remove_enter(text:str):
  return text.replace('\n', ' ')

df['text'] = df['text'].map(remove_enter)

In [ ]:
tokenizer = get_tokenizer()
tok = nlp.data.BERTSPTokenizer(tokenizer, vocab, lower=False)

def predict(sentence):
  data = [sentence, '0']
  dataset_another = [data]
  logits = 0
  another_test = BERTDataset(dataset_another, 0, 1, tok, max_len, True, False)
  test_dataloader = torch.utils.data.DataLoader(another_test, batch_size=batch_size, num_workers=2)
  
  model.eval()

  for batch_id, (token_ids, valid_length, segment_ids, label) in enumerate(test_dataloader):
      token_ids = token_ids.long().to(device)
      segment_ids = segment_ids.long().to(device)

      valid_length= valid_length
      label = label.long().to(device)

      out = model(token_ids, valid_length, segment_ids)

      for i in out:
        logits = i
        logits = logits.detach().cpu().numpy()
        logits = np.argmax(logits)

  return logits

label_answer = []
step = 0
for i in tqdm(df['text']):
  label_answer.append(predict(i))

In [ ]:
submission = pd.read_csv('/content/gdrive/MyDrive/know/sample_submission.csv') # sample submission 불러오기
submission['knowcode'] = label_answer
submission

In [ ]:
your_dict = {v: k for k, v in my_dict.items()}

In [ ]:
def label_to_knowcode(num:int):
  return your_dict[num]

submission['knowcode'] = submission['knowcode'].map(label_to_knowcode)

In [ ]:
submission.to_csv('/content/gdrive/MyDrive/know/submission.csv', index=False, encoding='utf8')